/******************************************************************
Stylesheet: Browsers
******************************************************************/

/*********************
IE9
*********************/
.lt-ie10{
	.page-home .hero-video #heroVideo, .page-home .customer-service-video, .page-home .customer-service-video #customerService{
		display: none !important;
	}
}


/*********************
IE8
*********************/
.lt-ie9{


	.animated-border{
		&:before{
			display: none;
		}
	}

	.page-header .main-bar .menu-wrap ul li{
	
		a{
			&:before{
				display: none;
			}
		}
	}

	

	@media only screen and (min-width: 1024px) {
		.page-header .main-bar .menu-wrap ul li{
			margin-right: 17px;
		}
		.page-header .main-bar ul ul.sub-menu li.menu-item a{
			color: $sl-darkblue;
			text-indent: 5px;

			&:after{
				opacity: 0;
				visibility: hidden;
				background: transparent;
			}
		}

	}

	.page-home{
		.hero-video{
			background-color: #000000;
		}
		.latest-insights{
			&:before{
				display: none;
			}
		}
	}

}