/******************************************************************
Stylesheet: Forms
******************************************************************/


/******************************************************************
Neil's styles
******************************************************************/
input, input[type="search"]{
	-webkit-appearance: none;
	@include border-radius(0px);
	@include font-size(16px);
	line-height: 1.5;
}
input[type="checkbox"]{
	-webkit-appearance: checkbox;
}

form, .gform_wrapper{
	overflow: hidden;

	input[type=text],
	input[type=search],
	input[type=number],
	input[type=email],
	input[type=tel],
	.selectBox-dropdown{
		outline: none;
		border: none;
		width: 100%;
		@include font-size(12px);
		@include border-radius(0px);
		height: 40px;
		text-indent: 0;
		padding-left: 14px;
		color: $sl-darkblue;
		margin: 0 0 15px 0;
		line-height: 1.5;
		//background-color: rgba(0,0,0,.02);	
		background-color: white;
		border-bottom: 2px solid #cbcbcb;
		box-sizing: border-box !important;
		@include transition(background-color .3s ease);
		
		@include placeholder{
			color: #757575;
			@include opacity(1);
		}

		&:focus{
			background-color: white;
		}
	}
	textarea{
		resize: none;
		height: 200px;
		outline: none;
		border: none;
		width: 100%;
		@include font-size(12px);
		height: 140px;
		text-indent: 0;
		padding: 14px;
		color: $sl-darkblue;
		margin: 0 0 15px 0;
		background-color: white;
		border-bottom: 2px solid #cbcbcb;
		box-sizing: border-box !important;
		@include transition(background-color .3s ease);

		@include placeholder{
			color: #757575;
			@include opacity(1);
		}
	}
	.screen-reader-text, legend{
		@include font-header;
		color: $sl-red;
		display: block;
		padding-bottom:10px;
		margin-bottom: 12px;
		position: relative;
		line-height: 100%;

		span.info{
		  font-size: 11px;
		  font-weight: 500;
		  color: #747474;
		  margin: 0 0 0 5px;

		  &.alert{
		  	color: $sl-red;
		  }
		}

		&:after{
			content:"";
			width:12px;
			height:2px;
			background-color:$sl-yellow;
			display: block;
			@include abs-pos(auto,auto,0,0);
		}
	}
	.checkboxes{
		label{
			height:40px;
			overflow:hidden;
			margin-bottom: 10px;
			div.checkbox-link{
				//background-color: rgba(0,0,0,.02);	
				background-color: white;
				width:100%;
				height:100%;
				cursor: pointer;
				border-bottom: 2px solid #cbcbcb;
				&:before{
					content:"";
					height:100%;
					display: inline-block;
					vertical-align: middle;
				}
				.vcenter{
					display: inline-block;
					width:99%;
					vertical-align: middle;
					margin:0 auto;
					padding: 0 13px;
					.checkbox{
						display: inline-block;
						width:14px;
						height: 14px;
						border:1px solid #dcdcdc;
						float:left;
						background-color: white;
					}
					.label{
						display: inline-block;
						float: left;
						height:14px;
						line-height: 14px;
						@include font-size(12px);
						margin-left:10px;
					}
					input{
						display: none;
					}
				}
				&.checked{
					background-color: $sl-red;
					color: white;
					border-bottom: 2px solid darken($sl-red,20);
					.checkbox{
						background-image: url('../images/tick.png');
						background-position: center center;
						background-repeat: no-repeat;
						background-size: 10px auto;
						.svg &{
							background-image: url('../images/tick.svg');
						}
					}
				}
			}
			&:last-child{
				float:left !important;
			}
		}
	}
	

	.gform_fields{
		margin: 0;
	}

	.gform_footer,footer{ 
		overflow: hidden;
		display: block;
		width: 100%;
		input[type=submit],button{
			float: right;
			cursor:pointer;
			@include font-size(12px);
			background: $sl-yellow;
			color: #FFFFFF;
			text-transform: uppercase;
			@include transition(background-color .3s ease);
			font-weight: bold;
			//height: 40px;
			line-height: 1;
			border: none;
			position: relative;
			text-indent: 0;
			&:before{
				content:"";
				width:14px;
				height:14px;
				display: block;
				background-image:url('../images/search-icon.png');
				background-size: 100% auto;
				background-position: center center;
				background-repeat: no-repeat;
				@include abs-pos(50%,auto,auto,15px);
				margin-top: -6px;

			}
			&:hover,&:active{
				background-color: darken($sl-yellow,10%);
			}
		}
	}
}
form{
	.form-body{
		background-color: #e8e8e8;
		padding:30px;
		margin-bottom: 20px;
	}
	fieldset{
		border: none;
		padding:0;	
		margin:0;
	}
}


//selectbox


.selectBox-dropdown{
	position: relative;
	cursor: pointer;
	background-color: #f1f1f1;
	&:hover, &:active, &:focus{
		text-decoration: none;
	}
	&.selectBox-active,&.selectBox-menuShowing{
    	background-color: white;
    	border-bottom: 2px solid #cbcbcb;
    }
    &.selectBox-menuShowing-bottom{

    }
    &.selectBox-menuShowing-top{
    	
    }
	.selectBox-label{
		@include font-size(12px);
		color: #757575;
		display: block !important;
		height:40px;
		text-align: left;
		line-height: 40px;

	}
	.selectBox-arrow{
		width: 8px;
		height:5px;
		background-image:url('../images/select-arrow.png');
		background-position: center center;
		background-repeat: no-repeat;
		margin-top: -3px;
		right:12px;
		display: block;
		@include abs-pos(50%,15px,auto,auto);
	}
}
.selectBox-dropdown-menu {
    position: absolute;
    z-index: 99999;
    max-height: 200px;
    min-height: 1em;
    margin:2px 0 0;
    background: white !important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

	&.selectBox-options{
		li,a{
			list-style: none;
    		display: block;
    		cursor: default;
    		padding: 0;
    		margin: 0;
			text-align:left;
			cursor: pointer;
		}
		li{
			&.selectBox-hover a {
    			background-color: #f7f7f7;
    			text-decoration: none;
    		}
    		&.selectBox-selected a{
    			//background-color: $green;
    		}
		}
		a{
			@include font-size(12px);
			padding: 10px;
			color: #757575;
		}
		&.selectBox-options-top{
    		border-bottom:none;
			margin-top:1px;
		}
		&.selectBox-options-bottom{

		}
		&.selectBox-optgroup {
    		color: #666;
    		background: #EEE;
    		font-weight: bold;
    		line-height: 1.5;
    		padding: 0 .3em;
    		white-space: nowrap;
		}
	}
}
.selectBox-inline { 
    min-width: 150px;
    outline: none;
    border: solid 1px #BBB;
    background: #FFF;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
}


/******************************************************************
Matt's styles
******************************************************************/



form, .gform_wrapper{
	overflow: hidden;

	input{
		outline: none;
		border: none;
		width: 100%;
		@include font-size(12px);
		height: 40px;
		text-indent: 14px;
		color: $sl-darkblue;
		margin: 0 0 15px 0;
	}
	textarea{
		resize: none;
		height: 200px;
		outline: none;
		border: none;
		width: 100%;
		@include font-size(12px);
		height: 140px;
		text-indent: 0;
		padding: 14px;
		color: $sl-darkblue;
		margin: 0 0 15px 0;
		background-color: white;
		border-bottom: 2px solid #cbcbcb;
		box-sizing: border-box !important;
		@include transition(background-color .3s ease);

		@include placeholder{
			color: #757575;
			@include opacity(1);
		}
	}

	.gform_fields{
		margin: 0;
	}

	.gform_footer{
		overflow: hidden;

		input[type=submit]{
			@include font-size(12px);
			background: $sl-yellow;
			color: #FFFFFF;
			text-transform: uppercase;
			font-weight: bold;
			height: 34px;
			text-indent: 0;
		}
	}
}

button{
	outline: none;
}



.button-request-callback{
	@include transition(0.2s);
	@include border-radius(100px);
	@include font-size(12px);
	font-weight: 700;
	padding: 0 20px 0 14px;
	height: 37px;
	cursor: pointer;
	display: block;
	background: $sl-brightgreen;
	color: #FFFFFF;
	text-transform: uppercase;
	overflow: hidden;
	border: none;
	
	img{
		margin: -2px 6px 0 0;
	}

	&:hover{
		background: darken($sl-brightgreen, 5%);
		
	}
}

.gfield_description {
	@include font-size(12px);
	margin-bottom:5px;
}