/******************************************************************
Stylesheet: Mixins Stylesheet
******************************************************************/


/*********************
FONTS
*********************/

@mixin font-header{
	font-family: $fira;
	font-weight: 700;
	line-height: normal;
}

@mixin font-body{
	font-family: $fira;
	font-weight: 400;
	line-height: normal;
}

//Font size
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}




/*********************
TRANSITIONS
*********************/

@mixin transition($transition...) {
  $prefixes:      ("-webkit-", "" );
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

/*********************
BORDER RADIUS
*********************/

@mixin border-radius($radius: 3px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin border-radiuses ($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	-webkit-border-top-right-radius:    $topright;
	-webkit-border-bottom-right-radius: $bottomright;
	-webkit-border-bottom-left-radius:  $bottomleft;
	-webkit-border-top-left-radius:     $topleft;

	-moz-border-radius-topright:        $topright;
	-moz-border-radius-bottomright:     $bottomright;
	-moz-border-radius-bottomleft:      $bottomleft;
	-moz-border-radius-topleft:         $topleft;

	border-top-right-radius:            $topright;
	border-bottom-right-radius:         $bottomright;
	border-bottom-left-radius:          $bottomleft;
	border-top-left-radius:             $topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

/*********************
CSS3 GRADIENTS
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}


/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}


/*********************
BACKGROUND SIZE
*********************/

@mixin back-size($size: cover) {
	-webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}




/*********************
UI ELEMENTS
*********************/
//Buttons
@mixin button-empty-rounded($color, $font-size: 14px, $size: small){
	background: none;
	text-transform: uppercase;
	border: 2px solid $color;
	display:inline-block;
	width: auto;
	@include border-radius(100px);
	@include font-size($font-size);
	font-family: $fira;
	font-weight: bold;
	line-height: 1;

	@if $size ==small{
		height:34px;
		line-height: 1;
		padding: 0 20px;
	} @else {
		padding: 15px 25px;
	}
	color: $color;
	@include transition(0.2s);

	&:hover{
		background: $color;
		color: #FFFFFF;
	}
}

/*********************
POSITIONING
*********************/

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin inline-menu(){
	li,a{
		float: left;
		position: relative;
	}
	li{
		display: inline;
		a{
			display: block;
		}
	}
}

/*********************
OPACITY
*********************/

@mixin opacity($opacity) {
	opacity: $opacity;
	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie); //IE8
}

/*********************
GLOBAL STYLING
*********************/

@mixin header-underline($color, $size: small){
	position: relative;
	line-height: 100%;
	@if $size ==small{
		padding-bottom: 10px;
		&:after{
			content:"";
			width:12px;
			height:2px;
			background-color: $color;
			display: block;
			@include abs-pos(auto,auto,0,0);
		}
	} @else {
		padding-bottom: 2px;
		&:after{
			content:"";
			width:24px;
			height:4px;
			background-color: $color;
			display: block;
			@include abs-pos(auto,auto,0,0);
		}
	}
}

/*********************
BOX SHADOW
*********************/

@mixin box-shadow ($string: 0px 0px 5px 0px rgba(50, 50, 50, 0.2)) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}

@mixin bg-cover(){

	background-position: center center;
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*********************
CLEARFIX
*********************/

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}





