/******************************************************************
Stylesheet: Typography
******************************************************************/

// font stacks
$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

// change these to your own
$fira: 'Fira Sans', sans-serif;

h1,h2,h3,h4{

  margin: 0 0 25px;
}
p{
  margin: 0 0 20px;
  -webkit-hyphens: none;
}


//Icomoon  
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?wjrnbv');
    src:    url('../fonts/icomoon.eot?wjrnbv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wjrnbv') format('truetype'),
        url('../fonts/icomoon.woff?wjrnbv') format('woff'),
        url('../fonts/icomoon.svg?wjrnbv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-iconmonstr-linkedin-4-icon:before {
  content: "\e600";
}

.icon-iconmonstr-youtube-4-icon:before {
  content: "\e601";
}

.icon-googleplus:before {
  content: "\e496";
}

.icon-facebook:before {
  content: "\e49b";
}

.icon-twitter:before {
  content: "\e49f";
}

.icon-icon-ning:before {
  content: "\e602";
}

.icon-tick:before {
  content: "\e603";
}

.icon-cross:before {
  content: "\e604";
}

