/******************************************************************
Stylesheet: Variables
******************************************************************/

/*********************
COLORS
*********************/

//User for body background
$main-bg: #f4f4f4;

//Used for body copy
$body-copy: #757575;

//Brand colors
$sl-darkblue: #273150;
$sl-teal: #86c9b9;
$sl-red: #e73f33;
$sl-yellow: #f9b028;
$sl-lightblue: #208492;

//Used for submit buttons
$sl-brightgreen: #6ebe33;



//Remove these later
$black:             #242424;
$white:             #ffffff;

$light-grey:        #efefef;
$grey:              #757575;


$blue:							#40859b;
$orange:						#d3492f;
$red:								#e73e35;
$yellow:						#e8f01a;
$green:							#6ebe33;

$link-color:        $blue;
$link-hover:        darken($link-color, 10%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;