/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

html{
}

.page-home {
	.home-intro {
		.slider-item {
			height: 396px;
			h1, h3 {
				margin-bottom: 18px !important;
			}
		}
		button.button-find-job {
			display: inline-block !important;
			background-color: #f9b028;
		}
	}
}

.page-template-page-upload-cv-php {
	background-color: #efefef;
	.entry-content {
		.entry-text {
			h1 {
				margin-bottom: 25px;
				color: $sl-red;
				position: relative;
			}
			h1:after {
				content: '';
				height: 4px;
				width: 24px;
				position: absolute;
				left: 0;
				bottom: 0;
				background-color: $sl-red;
			}
		}
		ul {
			padding-left: 20px;
			list-style: square;
		}
		li:before {
			display: none !important;
		}
		.video {
			position:relative;
			padding-bottom:56.25%;
			padding-top:30px;
			height:0;
			overflow:hidden;
		}
		.video iframe, .video object, .video embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
	#uploadCV .form-wrap {
		float: none;
		margin: 50px auto 65px auto;
		width: 100%;

		form {
			position: relative;
		}

		.upload-cv-form-title {
			color: #fff;
			background-color: $sl-red;
			background-image: url(../images/texture-form.png);
			background-position: right top;
			background-repeat: no-repeat;
			height: 70px;
			line-height: 70px;
			font-weight: bold;
			font-size: 20px;
			padding: 0 30px;
			margin-bottom: 22px;
		}

		li.gfield {
			box-sizing: border-box;
		}

		#field_10_1, #field_10_2, #field_10_3 {
			float: left;
			width: 33.3333333%;
		}

		#field_10_1 {
			padding-right: 20px;
		}

		#field_10_2 {
			padding-left: 20px;
			padding-right: 20px;
		}

		#field_10_3 {
			padding-left: 20px;
		}

		#field_10_5 {
			width: 100%;
			clear: both;
		}

		.gfield_label {
			position: relative;
			display: block;
			color: $sl-red;
			padding-bottom: 10px;
			margin-bottom: 14px;
		}

		.form-warning a {
			color: $sl-red;
		}

		.form-warning.hide {
			display: none;
		}

		.gfield_label:after {
			content: '';
			width: 12px;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: $sl-yellow;
		}

		input[type=text],input[type=email],input[type=tel],textarea {
			background-color: #f7f7f7;
		}

		textarea {
			min-height: 120px;
		}

		.gform_footer {
			position: absolute;
			width: 280px;
			right: 40px;
			top: 310px;

			input[type=submit] {
				background-color: $sl-brightgreen;
				font-size: 24px;
				height: 40px;
			}

		}

	}
	.trustpilot-wrap {
		margin-top: 0 !important;
	}
}

@media screen and (max-width: 767px) {
	.page-template-page-upload-cv-php {
		#uploadCV .form-wrap {
			width: 100%;
		}
	}
}

@media screen and (max-width: 650px) {
	.page-template-page-upload-cv-php {
		#uploadCV .form-wrap {
			#field_10_1, #field_10_2, #field_10_3 {
				float: none;
				width: 100%;
				padding: 0 !important;
			}
			.gform_footer {
				position: relative;
				top: auto;
				right: auto;
				width: auto;
    		padding: 0 20px;
			}
		}
	}
}

.search-form {
	footer {
		max-width: 350px !important;
	}
	footer button, footer a {
		width: 48% !important;
		margin-left: 2% !important;
		text-align: center !important;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
	}
	footer button {
		line-height: 40px !important;

	}
	footer a {
		margin-left: 0 !important;
		height: 40px;
		padding: 13px 0;
		text-align: center;
		color: $white;
	}
}

//Modernizr touchscreen device detection
html.touch{
	.page-header{
		.recruiter-bar{
			.call{
				display: block;
				button{
					margin: 14px 0;
				}
			}
		}
	}
	.page-home{
		.service-intros{
			header{
				.request-callback-animated{
					width: 90px;
					opacity: 1;
					background: $sl-brightgreen;
					border-color: $sl-brightgreen;

					p{
						opacity: 1;
				    -webkit-transition-delay: 0.2s;
				    transition-delay: 0.2s;
					}

					.desktop{
						display: none;
					}
					.mobile{
						display: block;
					}
				}
			}
		}
	}
}


body {
	@include font-body;
	color: $grey;
	-webkit-font-smoothing: antialiased;
	background: #f4f4f4;
}

.caps{
	text-transform: uppercase;
}

.clear{
	clear: both;
}


//If Browser supports transforms
.csstransforms{

	//Make menu icon into a cross
	.mobile-menu-trigger.active{
		.top{
			position: relative;
			top: 8px;
	    -ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
		}
		.middle{
			display: none;
		}
		.bottom{
			position: relative;
	    -ms-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
		}
	}

	//Flip dropdown arrow
	.mobile-dropdown-trigger.dropdown-visible{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
	}
}

//If Browser is touch based
//Remove if this causes issues
.touch{
	.page-home .hero-video #heroVideo, .page-home .customer-service-video, .page-home .customer-service-video #customerService{
		display: none;
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

p{
	line-height: 1.5;
}

.center{
	text-align: center;
}


.video-wrapper{
	position: relative;
	padding-bottom: 50%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	object, embed, iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/*********************
LINK STYLES
*********************/

a, a:visited {
	text-decoration: none;
	color: $grey;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@include font-header;
	text-rendering: optimizelegibility;

	a {
		text-decoration: none;
	}
}

h1, .h1 {
	@include font-size(32px);
}

h2, .h2 {
	@include font-size(32px);
	color: $sl-red;
}

h3, .h3 {
	@include font-size(18px);
}

h4, .h4 {
	@include font-size(16px);
}

h5, .h5 {
	@include font-size(13px);
}

h6, .h6 {
	@include font-size(14px);
	font-weight: bold;
}


.animated-border{
	position: relative;

	&:after{
		@include transition(0.2s);
		margin: 10px 0 0 0;
		display: block;
		content: "";
		height: 2px;
		width: 12px;
		background: #FFFFFF;
	}
	&.blue{
		&:after{
			background-color: $sl-lightblue;
		}
	}

	&:before{
		@include transition(0.3s);
		opacity: 0;
		display: block;
		content: "";
		width: 6px;
		height: 6px;
		background: $sl-yellow;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		position: absolute;
		bottom: -2px;
		left: 32px;
	}
}

.static-border{
	&:after{
		@include transition(0.2s);
		margin: 0 0 0 0;
		display: block;
		content: "";
		height: 2px;
		width: 12px;
		background: $sl-darkblue;
	}
}
.static-border-large{
	&:after{
		height: 4px;
		width: 24px;
	}
}

.fancybox-skin{
	padding: 0 !important;
	background: none !important;
}


/*********************
HEADER STYLES
*********************/
.header-wrap{
	background-image:url('../images/header-bg.png');
	@include bg-cover;
	background-position: top center;
}
.page-header{
	position: relative;
	border-bottom: 1px solid #dcdcdc;
	background: #FFFFFF;
	z-index: 1000;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;

	.mobile-menu-trigger{
		position: absolute;
		top: 0;
		right: 0;
		padding: 10px;
		margin: 32px 5px;
		@include transition(0.3s);
		cursor: pointer;

		hr{
			width: 22px;
			display: block;
			margin: 0;
			border: none;
			background: $sl-darkblue;
			height: 5px;
			margin: 0 0 3px 0;
			@include border-radius(100px);

			&:last-child{
				margin: 0;
			}
		}

		.top, .bottom{
			@include transition(0.3s);
		}
	}

	.active{
		background: $sl-darkblue;
		height: 41px;

		hr{
			background: #FFFFFF;
			@include transition(0s);
		}
	}

	.recruiter-bar{
		position: absolute;
		top: 12px;
		right: 35px;
		padding: 7.5px 0;
		width: auto;
		@include transition(0.3s);
		z-index: 100;

		.trustpilot-wrap{
			display: none;
		}

		.login{
			display: none;

			button{
				@include button-empty-rounded($sl-darkblue, 11px);
				margin: 16px 0;
			}
		}
		.call{
			display: none;
			button{
				padding: 0 14px;
			}
		}
	}
	.recruiter-bar.push-left{
		right: 40px;

		a{
			button{
				color: #FFFFFF;
				border-color: #FFFFFF;
			}
		}
	}

	.main-bar{
		border-top: 1px solid #dcdcdc;

		.logo-wrap{
			width: 90px;
			padding: 15px 0;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;

			.main-logo-white{
				display: none;
			}
		}
		.menu-wrap{
			overflow: hidden;
			max-height: 0px;
			@include transition(0.28s);
			margin: 0;

			ul{
				overflow: hidden;
				border-top: 1px solid #dcdcdc;

				li{
					display: block;
					width: 100%;
					border-bottom: 1px solid #dcdcdc;
					position: relative;

					.mobile-dropdown-trigger{
						display: none;
					}

					a{
						display: block;
						padding: 12px 10px;
					}
				}

				.menu-item-has-children{
					.mobile-dropdown-trigger{
						cursor: pointer;
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						background-image: url("../images/general/dropdown-arrow.png");
						background-repeat: no-repeat;
						background-size: 20px;
						background-position: center center;
						width: 40px;
						height: 41px;
						border-left: 1px solid #dcdcdc;
						border-right: 1px solid #dcdcdc;
					}
					.dropdown-visible{
				    border: none;
				    background-color: $sl-yellow;
					}
				}
			}
		}
		.menu-wrap-visible{
			max-height: 1000px;
			@include transition(0.6s);
			margin: 20px 0;
		}
		.contact-wrap{
			display: none;
		}

		ul{
			margin: 0;

			li{
				float: left;

				a{
					@include font-size(12px);
					font-weight: 700;
					text-transform: uppercase;
					margin-right: 40px;
					color: $sl-darkblue;
				}

				&:last-child{
					a{
					}
				}
			}

			.menu-item-has-children{
				.mobile-dropdown-trigger{
					display: none;
				}
			}


			//Dropdown menus
			ul.sub-menu{
				border: none;
				max-height: 0;
				background: lighten($sl-yellow, 0%);
				@include transition(0.3s);

				li.menu-item{
					border-bottom: 1px solid #dcdcdc;

					.mobile-dropdown-trigger{
						display: none;
					}

					a{
						margin: 0;
						text-indent: 5px;
						color: #FFFFFF;
					}

					&:last-child{
						border-bottom: none;
					}
				}
			}
			ul.menu-dropdown-visible{
				max-height: 400px;
				@include transition(0.6s);
			}
		}
	}
}
.mobile-menu-open{
	background: $sl-darkblue;

	.recruiter-bar{
		button{
			color: #FFFFFF;
			border-color: #FFFFFF;
		}
	}

	.main-bar{
		.logo-wrap{
			width: 90px;
			padding: 15px 0;
			-webkit-backface-visibility: hidden;
			-webkit-perspective: 1000;

			.main-logo, .mobile-logo{
				display: none;
			}

			.main-logo-white{
				display: block;
			}
		}
		.menu-wrap{
			ul{
				li{
					a{
						color: #FFFFFF;
					}
				}
			}
		}
	}
}



/*********************
SIDEBARS & ASIDES
*********************/
.page-template-page-general-content-php{
	aside{
		.aside-content{
			p{
				a{
				  color: #fff;
				}
			}
		}
	}
}


/*********************
FOOTER STYLES
*********************/
.page-footer{
	background: $sl-darkblue;

	h6{
		margin: 0;
	}

	h6, p, a{
		color: #FFFFFF;
	}

	p{
		@include font-size(14px);
	}
	small, a{
		@include font-size(12px);
	}

	header.contact{
		border-bottom: 1px solid lighten($sl-darkblue, 5%);
		margin-bottom: 25px;
		overflow: hidden;

		.logo{
			text-align: center;
			margin: 31px 0 0 0;

			img{
				max-width: 160px;
			}
		}

		ul{
			text-align: center;
			margin: 31px 0;

			li{
				display: block;
				p{
					@include font-size(14px);
					margin: 13.5px 0;

					a{
						@include font-size(14px);
					}

					a:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}

	.links, .footer-social, .subscribe{
		position: relative;

		a[title="recruiter-login"]{
			display: block;
			margin-top: 27px;
		}

		&:hover{

			h6{
				&:after{
					background: $sl-yellow;
					width: 32px;
				}
				&:before{
					opacity: 1;
				}
			}

			a{
				&:hover{
					color: $sl-yellow;
				}
			}
		}
	}

	.footer-social{
		padding: 40px 0 60px 0;


		ul{
			overflow: hidden;
			margin: 10px 0 0 0;

			li{
				float: left;
				margin: 0 8px 0 0;
				span{
					@include font-size(28px);
				}
			}
		}
	}

	.subscribe{
		h6{
			margin-bottom: 10px;
		}
		form{
			margin: 10px 0 0 0;
			max-width: 540px;
			label{
				display: none;
			}
			input[type="text"], input[type="email"]{
				border-bottom: none;
				background-color: #FFFFFF;
				color: $sl-darkblue;
			}
			input[type="submit"]{
				width: 100px;
				float: right;
			}

			.gfield_error{
				margin: 0 0 15px 0;
				input{
					margin: 0;
				}
			}
			.validation_error, .validation_message{
				color: $sl-red;
				@include font-size(12px);
				margin: 5px 0;
			}
		}
		.gform_confirmation_wrapper{
			.gform_confirmation_message{
			  color: #ffffff;
			  font-size: 13px;
			  font-weight: 700;
			}
		}
	}

	.copyright{
		margin: 0;
		padding: 40px 0;
		display: block;

		p{
			margin: 0;
		}
	}
}


/*********************
GLOBAL STYLES
*********************/
.breadcrumbs{
	padding: 24px 0 6px 0;
	@include font-size(12px);
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	z-index: 1;

	span{
		color: #757575;
		margin: 0 10px 0 0;
		display: inline-block;

		span{
			margin: 0 0 0 10px;
			padding-bottom: 20px;
		}

		a{
			color: $sl-lightblue;
			margin-left: 10px;
			display: block;
			padding-bottom: 20px;

			&:hover{
				text-decoration: underline;
			}
		}

		&:first-child{
			a{
				margin-left: 0;
			}
		}
	}
}

.trustpilot-wrap{
	margin-top: 75px;
	border-top: 1px solid #dcdcdc;
	padding: 25px 0;
	background: #FFFFFF;
	overflow: hidden;

	.row{
		overflow: hidden;
	}

	.trustpilot-widget{
		overflow: hidden;
	}
}

/* Used on Product Overview pages and on contact page */
.standard-form-wrap{
	position: relative;
	overflow: hidden;
	background: #FFFFFF;

	ul{
		li{
			&:before{
				display: none;
			}
		}
	}

	.form-details{
		background: $sl-lightblue;
		padding: 20px;

		*{
			color: #FFFFFF;

			&:after{
				background: #FFFFFF;
			}
		}

		h2{
			margin-bottom: 15px;
			line-height: 1;

			&:after{
				margin-top: 10px;
			}
		}

		p{
			@include font-size(12px);

			&:last-child{
				margin-bottom: 0;
			}
		}

		hr{
			border: none;
			background: #FFFFFF;
			height: 1px;
		}

		ul{
			li, p, h3{
				margin: 0;
			}
			li{
				margin: 0 0 5px 0;
			}
		}

		.button-pos {
			button {
				background: $white;
				color: $sl-lightblue;

				a {
					color: $sl-lightblue;

					&:hover {
						color: $white;
					}
				}
			}
		}


		button{
			position: relative;
			@include font-size(12px);
			background: $sl-yellow;
			color: #FFFFFF;
			@include transition(background-color .3s ease);
			font-weight: bold;
			line-height: 1;
			border: none;
			z-index: 10;
			padding: 0;
			width: 100%;

			a{
				display: block;
				padding: 11px 0;
			}

			&:hover, &:active{
				background-color: darken($sl-yellow,10%);
			}
		}

		&:after{
		  content: "";
		  background-image: url("../images/bg-net.png");
		  background-color: transparent;
		  background-position: -50px -50px;
		  background-repeat: no-repeat;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  position: absolute;
		}
	}
	.error-validating{
		background: $sl-red;
	}


	.gform_wrapper{
		position: relative;
		padding: 20px;
		border: 1px solid #dcdcdc;

		.ginput_complex{
			span{
				display: block;
			}
			.name_first{
				margin-bottom: 20px;
			}
		}

		.fields-right{
			textarea{
				height: 280px;
			}
		}

		.choice-fields{
			clear: both;
			overflow: hidden;

			.gfield_checkbox{
				overflow: hidden;
				margin: 0;

				li{
					outline: none;
					border: none;
					width: auto;
					@include font-size(12px);
					height: auto;
					text-indent: 14px;
					color: $sl-darkblue;
					margin: 0 15px 15px 0;
					box-sizing: border-box !important;
					position: relative;
					@include transition(0.2s);
					overflow: hidden;
					display: block;

					input, label{
						display: inline-block;
						float: left;
						width: auto;
						color: #757575;
						height: auto;
						line-height: 1;
						cursor: pointer;
					}
					input{
						position: absolute;
						top: 14px;
						left: 14px;
					}
					label{
						background-color: #efefef;
						border-bottom: 2px solid #cbcbcb;
						padding-left: 24px;
						padding: 14px;
						text-indent: 24px;
					}
				}
			}

		}

		label{
			display: none;
		}

		input, textarea, .selectBox{
			background: #efefef;
			margin: 0;
			line-height: 1.5;

			&:focus{
				background: #e6e3e3;
			}
		}

		.selectBox{
			width: 100% !important;
		}

		.gform_footer{
			input[type="submit"]{
				background: $sl-brightgreen;
				border-color: darken($sl-brightgreen, 10%);
				padding: 1px 0 0 0;
			}
		}

		.validation_error{
			color: $sl-red;
			@include font-size(12px);
			margin: 0 0 30px 0;
		}

		.gfield_error{
			input, textarea{
				border-bottom: 2px solid lighten($sl-red, 10%);
			}

			.validation_message{
				color: $sl-red;
				@include font-size(12px);
				margin: 5px 0 0 0;
			}
		}
	}

	.gforms_confirmation_message{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 100;
	  background: #FFFFFF;
	  text-align: center;
	  padding: 10px 30px;
	  border: 1px solid #dcdcdc;
	  color: $sl-lightblue;
	  @include font-size(14px);
	}
}

/* Used on homepage and on Insight Resources */
.download-guide{
	background: #FFFFFF;
	border: 1px solid #d4d4d4;
	max-width: 768px;
	margin: 40px auto 0 auto;

	.gform_heading{
		background: $sl-lightblue;
		position: relative;
		overflow: hidden;

		&:after{
			content: "";
			background-image: url("../images/bg-net.png");
		  background-color: transparent;
		  background-position: -180px -30px;
		  background-repeat: no-repeat;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  position: absolute;
		}

		h3{
			color: #FFFFFF;
			padding: 23px 23px 0 23px;
			margin: 0;
			position: relative;

			&:after{
			  content: "";
			  width: 48px;
			  height: 48px;
			  display: block;
			  top: 2px;
			  right: 2px;
			  bottom: auto;
			  left: auto;
			  position: absolute;
			  background-image: url("../images/download-corner.png");
			  background-position: left top;
			  background-repeat: no-repeat;
			  background-size: 100% auto;
			  z-index: 999;
			}
		}
		.gform_description{
			display: block;
			color: #FFFFFF;
			padding: 0 23px 23px 23px;
			margin: 0;
			position: relative;
			@include font-size(14px);
		}
	}

	.validation_error{
		padding: 28px 28px 0 28px;
		@include font-size(12px);
		color: $sl-red;
	}

	.gform_body{
		padding: 18px 18px 0 18px;

		.gfield{
			position: relative;
		}

		.form-copy{
			@include font-size(12px);
			line-height: 2;
			padding-bottom: 28px;
		}

		.guide-image{
			display: none;
		}

		label{
			display: none;
		}

		input{
			background: #efefef;
		}

		input:focus{
			background: #e6e3e3;
		}
		input[type="submit"]{
			background: $sl-brightgreen;
		}

		.gfield_checkbox{
			margin: 0 0 20px 0;
			overflow: hidden;

			li{
				overflow: hidden;
			}

			input, label{
				float: left;
				display: inline-block;
				width: auto;
			}
			label{
				@include font-size(12px);
				padding: 10px 10px 10px 25px;
			}
			input{
				height: 14px;
				margin: 14px 0;
				position: absolute;
			}
		}

		.gfield_error{
			input{
				border-bottom: 2px solid lighten($sl-red, 10%);
			}

			.validation_message{
				color: $sl-red;
				@include font-size(12px);
				margin: 0 0 20px 0;
			}
		}


	}
	.gform_footer{
		padding: 0 18px 18px 18px;

		input[type="submit"]{
			background: $sl-brightgreen;
			height: 40px;
			width: 280px;
			max-width: 100%;
			float: left;
			margin: 0;

			&:hover{
				background: $sl-brightgreen;
			}
		}
	}
}


/*********************
404 STYLES
*********************/
.error404{
	.page-styles{
		padding-top: 40px;
		padding-bottom: 40px;

		h1{
			margin-bottom: 20px;
		}
		a{
			color: $sl-lightblue;
		}
	}
}



/*********************
PAGE STYLES
*********************/
.page-styles{
	position: relative;
	z-index: 1;

	h1{
		margin-bottom: 50px;
		color: $sl-darkblue;
	}

	h2{
		@include font-size(24px);
	}

	h3{
		@include font-size(20px);
	}

	p, ul li{
		@include font-size(13px);
		color: $body-copy;
	}

	ul{
		li{
			margin: 0 0 20px 0;
			&:before{
				content: "•";
				margin: 0 10px 0 0;
			}
		}
	}
}


/*********************
HOME PAGE STYLES
*********************/
.page-home, .page-template-page-industry-specific-php, .page-template-page-industry-specific-alt-php{

	.hero-media{
		position: relative;
		background-position: 0 0;
		background-repeat: no-repeat;
		height: auto;
		background-color: #78CBB9;

		.copy{
			padding: 20px 0;

			h1{
				@include font-size(24px);
				font-weight: 500;
				line-height: 1;
				margin: 0;
				strong{
					font-weight: 700;
				}
			}
			h3{
				@include font-size(15px);
				font-weight: 500;
				color: #FFFFFF;
				margin: 0;
			}
			.play{
				display: block;
				margin: 10px auto 0 auto;
				max-width: 48px;
			}
		}
	}

	h1{
		color: $sl-darkblue;
		@include font-size(20px);
	}

	h2{
		font-weight: 300;
		text-align: center;

		&:after{
			display: none;
		}
	}

	.service-intros{
		margin-top: 25px;

		article{
			float: none;
			max-width: 480px;
			margin: 0 auto 40px auto;
		}
		article.article-3{
			float: none;
		}

		header{
			overflow: hidden;
			position: relative;
			height: 200px;
			width: 100%;

			.service-image{
				text-align: center;
				@include transition(0.2s);

				img{
					max-width: 170px;
				}
			}

			.request-callback-animated{
				position: absolute;
				top: 15px;
				left: 15px;
				border: 2px solid #FFFFFF;
				display: block;
				background: none;
				color: #FFFFFF;
				text-transform: uppercase;
				overflow: hidden;
				@include transition(0.2s);
				@include border-radius(100px);
				height: 30px;
				width: 30px;
				opacity: 0.5;
				cursor: pointer;

				a{
					display: block;
					text-align: left;
				}

				img{
					margin: 0 0 0 7px;
				}

				p{
					opacity: 0;
					@include font-size(10px);
					color: #FFFFFF;
					font-weight: 700;
					float: right;
					padding: 5px 20px 5px 0;
				}

				&:hover{
					width: 150px;
					opacity: 1;
					background: $sl-brightgreen;
					border-color: $sl-brightgreen;

					p{
						opacity: 1;
				    -webkit-transition-delay: 0.2s;
				    transition-delay: 0.2s;
					}
				}
			}

			h2{
				@include font-size(16px);
				position: absolute;
				top: 75%;
				width: 100%;
				margin: 0;
				line-height: 1;
				color: #FFFFFF;
				font-weight: 700;
			}
		}

		p{
			@include font-size(12px);
		}
		a{
			display: block;
			text-align: center;
		}

		.learn-more{
			margin-top: 0;
			text-transform: uppercase;
			margin: 0 auto;
			width: 180px;
			height: 40px;
			@include font-size(11px);
			width: 150px;
			height: 36px;
		}
	}

	.article-1{
		header{
			background: $sl-darkblue;
		}
		p{
			color: $sl-darkblue;
		}
		button{
			@include button-empty-rounded($sl-darkblue, 14px);
		}
	}
	.article-2{
		header{
			background: $sl-yellow;
		}
		p{
			color: darken($sl-yellow, 10%);
		}
		button{
			@include button-empty-rounded($sl-yellow, 14px);
		}
	}
	.article-3{
		header{
			background: $sl-teal;
		}
		p{
			color: $sl-teal;
		}
		button{
			@include button-empty-rounded($sl-teal, 14px);
		}
	}

	.customer-service-video{
		display: none;
	}

	.trustpilot-wrap{
		margin-top: 0;
		border-top: none;
		overflow: hidden;

		.trustpilot-widget{
			overflow: hidden;
		}
	}

	.news-download{
		overflow: hidden;
		border-top: 1px solid #dcdcdc;
		background: #ECECEC;
		padding: 75px 0;
	}

	.latest-insights{
		h1{
			color: $sl-lightblue;
			display: inline-block;
		}
		.static-border:after{
			background: $sl-lightblue;
		}
		article{
		  max-width: 480px;
		  margin: 0 auto 40px auto;
		  float: none;

			h2{
				@include font-size(24px);
				font-weight: 700;
				color: $sl-lightblue;
				text-align: left;
				margin: 15px 0;
				position: relative;

				&:after{
					@include transition(0.2s);
					margin: 10px 0 0 0;
					display: block;
					content: "";
					height: 2px;
					width: 12px;
					background: $sl-lightblue;
				}

				&:before{
					@include transition(0.3s);
					opacity: 0;
					display: block;
					content: "";
					width: 6px;
					height: 6px;
					background: $sl-yellow;
					-moz-border-radius: 50px;
					-webkit-border-radius: 50px;
					border-radius: 50px;
					position: absolute;
					bottom: -2px;
					left: 32px;
				}
			}

			time{
				@include font-size(12px);
				display: block;
				margin-bottom: 20px;
			}

			p{
				@include font-size(14px);
			}

			button{
				@include button-empty-rounded($sl-lightblue, 12px,'small');
				width: 160px;
				height: 34px;
			}

			&:hover{
				h2{
					&:after{
						width: 32px;
						background: $sl-yellow;
					}
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}
	.download-guide{
		.gform_heading{
			h3{
				padding: 23px;
			}
		}
	}
}


/*********************
LANDING STYLES
- Fixed Price Recruitment
- Candidate Attraction
- Applicant Management
*********************/
.page-template-page-landing-php{

	.header-wrap{
		background-image: none;
		position: relative;

		button{
			margin: 0 auto;
		}

		.breadcrumbs{
			z-index: 1;
			color: #FFFFFF;

			span, a{
				color: #FFFFFF;
			}
		}

		.article-header{
			position: relative;
			z-index: 1;
			text-align: center;
			padding: 0 0 40px 0;

			.overview-icon{
				border: 2px solid #FFFFFF;
				@include border-radius(1000px);
				margin-bottom: 20px;
				max-width: 80px;
			}

			h1{
				color: #FFFFFF;
				margin-bottom: 20px;
				line-height: 1;
			}
			p{
				color: #FFFFFF;
				@include font-size(13px);
				max-width: 480px;
				margin: 0 auto 30px auto;
				text-align: left;
			}
		}

		&:after{
			content: "";
			background-image: url("../images/bg-net.png");
		  background-color: transparent;
		  background-position: center -280px;
		  background-repeat: no-repeat;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  position: absolute;
		}
	}

	.sub-nav{
		background: #FFFFFF;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		padding: 20px 5px;
		margin-bottom: 75px;

		.row{
			position: relative;
		}

		p{
			@include font-size(12px);
			font-weight: 700;
			margin: 0;
			text-transform: uppercase;
			max-width: 60%;

			.title, a{
				display: block;
				margin-bottom: 15px;
			}
			.arrow{
				display: none;
			}
			a{
				color: $sl-lightblue;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.tp_-_category-badge{
			position: absolute;
		  top: 50%;
		  right: 20px;
		  margin-top: -52px;
		}
	}


	.services-wrap{
		.service-wrap{
			background: #FFFFFF;
			border: 1px solid #dcdcdc;
			margin-bottom: 75px;
			padding: 30px;
			position: relative;
			overflow: visible;
			background-repeat: no-repeat;
			background-position: bottom right;

			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 10px;
				height: 100%;
			}

			.service-icon{
				text-align: center;
				margin-bottom: 10px;

				img{
					max-width: 160px;
					@include border-radius(1000px);
					margin: -60px auto 0 auto;
				}
			}

			.service-content{
				overflow: hidden;

				header{
					overflow: hidden;
					margin-top: 10px;
					text-align: center;

					h2, h3{
						margin: 0 0 15px 0;
						color: $sl-darkblue;
						line-height: 1.4;
					}
					h3{
						@include font-size(14px);
						line-height: 1.4;
						margin: 0 0 20px 0;
						font-weight: 300;
					}

					hr{
						height: 1px;
						border: none;
						margin: 0 0 20px 0;
						background: #85c9b9;
						background: -moz-linear-gradient(left, #85c9b9 0%, #6ebe33 100%);
						background: -webkit-gradient(linear, left top, right top, color-stop(0%,#85c9b9), color-stop(100%,#6ebe33));
						background: -webkit-linear-gradient(left, #85c9b9 0%,#6ebe33 100%);
						background: -o-linear-gradient(left, #85c9b9 0%,#6ebe33 100%);
						background: -ms-linear-gradient(left, #85c9b9 0%,#6ebe33 100%);
						background: linear-gradient(to right, #85c9b9 0%,#6ebe33 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85c9b9', endColorstr='#6ebe33',GradientType=1 );
					}
				}

				.button-request-callback{
					margin: 30px auto 0 auto;
				}

				.learn-more{
					display: inline-block;
					text-align: center;
					margin: 30px 0 0 0;
					background: #c3c3c3;
					text-transform: uppercase;
				  @include border-radius(100px);
				  @include font-size(12px);
				  font-family: "Fira Sans", sans-serif;
				  font-weight: bold;
				  line-height: 1;
				  @include transition(0.2s);
				  border: none;
				  color: #FFFFFF;
				  width: 160px;
				  margin: 30px 0 0 0;
				  padding: 11px 0;

				  &:hover{
				  	background: #f9b028;
				  }
				}
			}
		}
	}

	.callback-section{
		background: #ececec;
		padding: 75px 0;
		border-top: 1px solid #dcdcdc;
	}

	.trustpilot-wrap{
		margin-top: 0px;
		overflow: hidden;

		.trustpilot-widget{
			overflow: hidden;
		}
	}
}

.page-candidate-attraction, .page-advertising{

	.header-wrap{
		background: $sl-yellow;
	}

	h1, h2{
		color: $sl-yellow;
	}

	.services-wrap{
		.service-wrap{
			&:before{
				@include css-gradient(#f7a72c, #e94534);
			}
			.service-content{
				header{
					h2, h3{
						color: $sl-yellow;
					}
				}
				a{
					color: $sl-yellow;
				}
			}
		}
	}
}

.page-applicant-management{

	.header-wrap{
		background: $sl-teal;
	}

	h1, h2{
		color: $sl-teal;
	}

	.services-wrap{
		.service-wrap{
			&:before{
				@include css-gradient($sl-teal, $sl-lightblue);
			}
			.service-content{
				header{
					h2, h3{
						color: $sl-teal;
					}
				}
			}
		}
	}
}

.page-template-page-fixed-price-recruitment-php{
	.smartlist-fixed-bg-colour{
		background: $sl-lightblue;
	}
	.smartlist-search-bg-colour{
		background: $sl-yellow;
	}
	.smartlist-post-bg-colour{
		background: $sl-red;
	}

	.header-wrap{
		background-color: $sl-darkblue;
		background-image: url("../images/fpr-hero-bg.png");
		background-position: -100px 100px;
		background-repeat: repeat-x;
		@include back-size(auto);
	}

	.breadcrumbs{
		z-index: 1;
		color: #FFFFFF;

		span, a{
			color: #FFFFFF;
		}
	}

	.hero-section{
		color: #FFFFFF;
		text-align: center;
		padding: 20px 0;

		.hero-content-wrap{
			position: relative;
			max-width: 600px;
			margin: 0 auto;

			a{
				display: none;
			}
		}

		.hero-tp{
			display: none;
		}

		h1{
			@include font-size(44px);
			line-height: 1;
			max-width: 300px;
			margin: 0 auto;
		}

		h3{
			font-weight: 300;
		}

		p{
			color: #FFFFFF;
		}

		a{
			display: inline-block;
			margin: 0 auto;
		}

		.hero-video-wrap{
			max-width: 600px;
			margin: 0 auto 25px auto;
			border: 15px solid rgba(0,0,0,0.3);
			@include border-radius(10px);
		}
	}

	.packages-section{
		border-top: 1px solid #dcdcdc;
		border-bottom: 1px solid #dcdcdc;
		background: #FFFFFF;
		padding: 40px 0;
		overflow: hidden;
    background-image: url("../images/fpr-packages-bg.png");
    background-position: bottom left;
    background-repeat: no-repeat;

		.package-box{
			text-align: center;
			position: relative;
			color: #FFFFFF;
			margin: 0 0 20px 0;
		}
		.package-box-first{
			position: relative;

			&:after{
		    content: "";
		    background-image: url("../images/bg-net.png");
		    background-color: transparent;
		    background-position: center right;
		    background-repeat: no-repeat;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    position: absolute;
		    z-index: 1;
		  }
		}
		.package-box-content{
			position: relative;
			padding: 20px;
			z-index: 10;
		}
		.package-box-img{
			display: none;
		}

		.package-icon{
			margin: 0 0 10px 0;
		}

		h1{
			margin: 0;
			text-align: center;
		}

		h2{
			color: #FFFFFF;
			margin: 0 0 10px 0;
		}

		label{
			margin: 0;
		}

		ul{
			list-style-type: disc;
			list-style-position: inside;
			margin: 0 0 20px 0;
			padding: 0 0 0 10px;
		}

		.button-request-callback{
			margin: 0 auto;
		}
	}

	.pricing-section{
		padding: 0.9375em 0;

		.desktop-feature-list{
			display: none;
		}

		.package-header-wrap{
			position: relative;
			margin: 0 0 10px 0;
			cursor: pointer;
		}

		.package-promoted{
			pointer-events: none;
			background-image: url("../images/fpr-package-recommended.png");
			background-position: -85px 0;
			background-repeat: no-repeat;
			width: 85px;
			height: 85px;
			position: absolute;
			top: 0;
			right: 0.9375em;
		}


		header{
			display: table;
			padding: 20px;
			width: 100%;

			.header-img{
				display: table-cell;
				vertical-align: middle;
				width: 80px;
			}
			img{
				margin: 0 auto;
			}
			.header-content{
		    display: table-cell;
		    vertical-align: middle;
		    padding: 0 0 0 15px;
			}
			h2{
				@include font-size(18px);
				color: #FFFFFF;
				margin: 0;
				line-height: 1;
				max-width: 200px;
			}
			p{
				line-height: 1;
				margin: 0;
				color: #FFFFFF;
				font-weight: 700;
				@include opacity(0.75);
			}
		}

		ul{
			margin: 0 0 10px 0;
			background: #FFFFFF;
			display: none;

			li{
				border-bottom: 2px solid #d2d2d2;
				padding: 15px 0;
				margin: 0 20px;

				.icon{
					float: right;
					@include font-size(20px);
					margin: 0 5px 0 0;
				}

				&:last-child{
					border-bottom: none;
				}
			}
			&.smartlist-fixed{
				li{
					.icon{
						color: $sl-darkblue;
					}
				}
			}
			&.smartlist-search{
				li{
					.icon{
						color: $sl-yellow;
					}
				}
			}
			&.smartlist-post{
				li{
					.icon{
						color: $sl-red;
					}
				}
			}
		}

		.button-request-callback{
			margin: 10px auto;
		}
	}

	.callback-section{
		background: #ececec;
		padding: 45px 0;
		border-top: 1px solid #dcdcdc;
	}

	.trustpilot-wrap{
		margin-top: 0;
		overflow: hidden;

		.trustpilot-widget{
			overflow: hidden;
		}
	}
}



/*********************
GENERAL CONTENT STYLES
- POLICY
- ABOUT
*********************/
.page-template-page-general-content-php{
	.sl-logo-notype{
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 1;
		max-width: 80em;
		margin: 0 auto;
		@include transition(0.2s);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;

		img{
			float: right;
			max-width: 100px;
		}
	}
	.top-position-changed{
		top: 350px;
		@include transition(0.28s);
	}

	.breadcrumbs{
		span{
			a{
				color: $sl-darkblue;
			}
		}
	}

	.page-styles{
		ul{
			margin-left: 20px;
		}
	}

	aside{
		margin-top: 75px;

		.aside-content{
			position: relative;
			padding: 30px;
			margin-bottom: 40px;
			background: $sl-lightblue;

			&:after{
				content: "";
				background-image: url("../images/bg-net.png");
			  background-color: transparent;
			  background-position: 90px -280px;
			  background-repeat: no-repeat;
			  top: 0;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  position: absolute;
			}

			&:last-child{
				margin-bottom: 0;
			}

			h2{
				color: #FFFFFF;
				@include font-size(24px);
				line-height: 1;
				margin: 0 0 15px 0;

				&:after{
					background: #FFFFFF;
					margin-top: 10px;
				}
			}

			p{
				@include font-size(14px);
				color: #FFFFFF;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.get-in-touch{
			background: $sl-teal;

			&:after{
				background-position: 100px -20px;
			}
		}
		button{
			clear: both;
			margin: 0 auto;
		}
	}
}

.about-page-wrap{
	.article-header{
		.static-border{
			color: $sl-lightblue;

			&:after{
				background: $sl-lightblue;
			}
		}
	}
}

/*********************
UPLOAD CV PAGE
*********************/

.breadcrumbs{
  button{
    float:right;
    margin-top: -5px;

    margin-right:10px;
  }
}

#uploadCV{

  .form-wrap{
    float:left;

    background:#e8e8e8;
    color:$sl-darkblue;

    width:100%;
    @media only screen and (min-width: 700px){

      width:50%;
    }

    form{
      padding:0 2%;

    }

    ul{
      li{
        list-style:none;
        margin-bottom:5px;
        display: block;
        &:before{
          content:'';
          margin:0;
        }
      }

      #field_5_4{
        background:#dadada;
        padding:10px;
      }

      input{
        border-bottom: 2px solid #cbcbcb;
        box-sizing: border-box !important;
      }

      input[type=file]{
        text-indent:0;
        margin-bottom:0;
        border:none;
      }
      input[type=submit]{
        float:right;
        max-width:120px;
        width:120px;
      }
      textarea{
        height:80px;
        border-bottom: 2px solid #cbcbcb;
        box-sizing: border-box !important;
      }

      .validation_message{
        color:$sl-red;
      }

    }


    h1{
      display: block;
      background-color: #e73f33;
      padding: 20px 15px;
      position: relative;
      text-align: left;
      color:$white;
      font-size:22px;
    }
    p{
      color:$sl-darkblue;
      font-size:12px;
      padding:0 2% 5px;
      margin-top:-20px;
    }


    label{

      color:$sl-darkblue;
      font-size:13px;
      text-transform:uppercase;
      font-family:$fira;
      font-weight:bold;
    }
  }

  .video-wrap{
    float:right;


    width:100%;
    @media only screen and (min-width: 700px){
      padding:0% 1%;
      width:48%;
    }
    p{
      margin-top:20px;
      margin-bottom:10px;
      @media only screen and (min-width: 700px){
      margin-top:-20px;
      padding-top:0px;
      }
    }

    iframe{
    width:100%;
    min-height:300px;
    margin-top:20px
    }
  }

}


/*********************
CONTACT PAGE STYLES
*********************/
.page-template-page-contact-php{
	position: relative;

	.breadcrumbs{
		span{
			a{
				color: $sl-darkblue;
			}
		}
	}

	.sl-logo-notype{
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 1;
		max-width: 80em;
		margin: 0 auto;
		@include transition(0.2s);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;

		img{
			float: right;
			max-width: 100px;
		}
	}
	.top-position-changed{
		top: 350px;
		@include transition(0.28s);
	}


	ul{
		li{
			&:before{
				display: none;
			}
		}
	}

	.standard-form-wrap{
		.form-details{
			p{
				a{
					position: relative;
					z-index: 99;
					text-decoration: underline;

					&:hover{
						color: $sl-yellow;
					}
				}
			}
		}
	}
}


/*********************
JOBSEEKER PAGES STYLES
*********************/
.page-template-page-jobseekers, .post-type-archive-job{
	.tick-list{
		ul{
			margin:0;
			padding:0;
			li{
				padding:0 0 0 15px;
				margin-bottom: 25px;
				position: relative;
				&:before{
					content:"";
					display: block;
					@include abs-pos(8px,auto,auto,0);
					width:10px;
					height:8px;
					background-image: url('../images/tick.png');
					background-position: left top;
					background-repeat: no-repeat;
					background-size: 100% auto;
					.svg &{
						background-image: url('../images/tick.svg');
					}
				}
			}
		}
		p{
			display: none;
		}
	}
}
.search-results, .page-template-page-jobseekers, .search-no-results, .post-type-archive-job, .archive.tax-job_cat, .archive.tax-job_type{
	.breadcrumbs{
		a{
			color: $sl-red;
		}
	}
	.section{
		padding: 30px 0;
	}
	.section.featured-jobs{
		padding-bottom: 0;
	}
    .section.featured-videos{
      background:#fff;
      border-top:0;
      border-bottom:1px solid #ccc;
      padding-top:10px;
      padding-bottom:10px;
      text-align: center;
    iframe{
      width:100%;
      display: block;
      margin:1%;
      min-height:200px;
    }
    }

    .cta-link {
    	display: inline-block;
    	width: auto;
    	color: #fff;
    	line-height: 40px;
    	padding: 0 20px;
    }

	.static-border{
		&:after{
			margin-top: 10px;
			background: $sl-red;
		}
	}

	.header-wrap{
		.job-search-header{
			background-color: transparent;
		}
	}

	.job-search-header{
		position: relative;
		padding-bottom:40px;
		background-color: #efefef;
		border-bottom: 1px solid #dcdcdc;

		.form-wrap{
			padding: 0 12px;
			position: relative;

			.article-header{
				display: block;
				background-color: $sl-red;
				padding: 20px 15px;
				position: relative;
				text-align: center;

				&.bg{
					&:after{
						content: "";
						background-image:url('../images/bg-net.png');
						background-color: transparent;
						background-position: 100% -55px;
						background-repeat:no-repeat;
						@include abs-pos(0,0,0,0);
					}
				}
				p{
					@include font-size(12px);
					color: white;
				}
				a{
					display: inline-block;
				}
				button{
					@include button-empty-rounded(#FFFFFF, 12px,'small');

					&:hover{
						color: $sl-red;
					}
				}
				h3{
					line-height: 1;
					color: white;
					display: block;
					margin: 0 0 5px 0;
				}
			}

			form{
				.form-body{
					padding: 20px;

					.selectBox{
						width: 100% !important;
						max-width: 100%;
						.selectBox-label{
							width: 100% !important;
							max-width: 100%;
						}
					}

					.select-wrap{
						margin-bottom: 20px;

						.selectBox-dropdown{
							margin-bottom: 0;
						}
					}
				}
				footer{
					button{
						height: 40px;
						line-height: 1px;
						width: 100%;
					}
				}
			}
		}
	}

	.proposition{
		background-color: #FFFFFF;
		border-bottom: 1px solid #dcdcdc;
	}

	article.job{
		background-color: white;
		border: 1px solid #dcdcdc;
		margin-bottom:30px;

		.article-header{
			background: $sl-red;
			padding: 20px;
			position: relative;

			h3{
				color: #FFFFFF;
				margin: 0 0 10px 0;
			}

			&:after{
			  content: "";
			  background-image: url("../images/bg-net-reverse.png");
			  background-color: transparent;
			  background-position: 160px -60px;
			  background-repeat: no-repeat;
			  top: 0;
			  right: 0;
			  bottom: 0;
			  left: 0;
			  position: absolute;
			  @include transition(0.3s);
			}
		}

		a{
			color: $sl-red;
		}

		&:nth-child(even){
			.article-header{
				&:after{
					background-image:url('../images/bg-net.png');
					background-position: 120px -80px;
				}
			}
		}

		a{
			display: inline-block;
			position: relative;
			z-index: 1;

			button{
				@include button-empty-rounded(#FFFFFF, 12px,'small');

				&:hover{
					color: $sl-red;
				}
			}
		}

		.entry-content{
			padding: 20px;
		}

		aside{
			p:last-child{
				margin-bottom: 0;
			}
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
}
.single-job{
	position: relative;

	.sl-logo-notype{
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		width: 100%;
		z-index: 1;
		max-width: 80em;
		margin: 0 auto;
		@include transition(0.2s);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;

		img{
			float: right;
			max-width: 100px;
		}
	}

	.breadcrumbs{
		a{
			color: $sl-red;
		}
	}

	ul{
		li{
			&:before{
				display: none;
			}
		}
	}

	.job-details{
		h1{
			color: $sl-red;
			margin:0 0 40px 0;
			padding-bottom: 2px;
			position: relative;
			@include font-size(24px);

			&:after{
				content: "";
				width: 12px;
				height: 2px;
				background-color: $sl-red;
				display: block;
				margin-top: 10px;
			}
		}
		p{
			line-height: 1.5;

			a{
				color: $sl-lightblue;
			}
		}

		ul{
			margin-left: 20px;

			li{
				margin: 0 0 20px 0;

				&:before{
				  content: "•";
				  margin: 0 10px 0 0;
				  display: inline-block;
				}
			}
		}
		.large-apply{
			display: none;
		}
	}

	#main-sidebar{
		.profile{
			margin: 35px 0 0 0;
			overflow: hidden;
			text-align: center;
			p{
				display: block;
			}
			a button{
				@include button-empty-rounded($sl-red, 15px,'big');
			}
		}
		.social{
			text-align: center;
			overflow: hidden;
			padding: 30px 0;
			margin: 40px 0;
			border-top: 1px solid #dcdcdc;
			border-bottom: 1px solid #dcdcdc;

			nav{
				display: inline-block;
				overflow: hidden;

				a{
					display: inline-block;
					float: left;

					button{
						@include button-empty-rounded($sl-red, 12px, small);
						margin: 4px 0;
					}
				}

				ul{
					margin: 0;
					padding: 0;
					overflow: hidden;
					float: left;
					@include inline-menu;

					li{
						margin-top: 7px;
						margin-left: 10px;
					}
				}
			}

			.icon{
				@include font-size(28px);
				@include transition(color .3s ease);
				display: inline-block;
				line-height: 1;
				float:left;

				&.icon-twitter{
					color: #78cdf0;
					&:hover{
						color:darken(#78cdf0,10%);
					}
				}
				&.icon-facebook{
					color: #537bbd;
					&:hover{
						color:darken(#537bbd,10%);
					}
				}
				&.icon-iconmonstr-linkedin-4-icon{
					color: #2085c7;
					&:hover{
						color:darken(#2085c7,10%);
					}
				}
				&.icon-googleplus{
					color: #e9644a;
					&:hover{
						color:darken(#e9644a,10%);
					}
				}
			}
		}
		.related{
			background-color: $sl-red;
			padding: 20px;
			position: relative;

			h3{
				color: #FFFFFF;
				@include header-underline(white, small);
			}

			ol{
				margin: 0;
				position: relative;
				z-index: 1;
				li{
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0;
					}

					p, a{
						margin: 0;
						color: #FFFFFF;
						@include font-size(12px);

						&:link,&:visited{
							color: white;
						}
					}
				}
			}
			&:after{
				content:"";
				@include abs-pos(0,0,0,0);
				background-image:url('../images/bg-net.png');
				background-position: 100px 50px;
				background-repeat: no-repeat;
				display: block;
			}
		}
	}

	.apply-btn{
		@include box-shadow (0px 3px 0px 0px darken($green,10%));
		text-transform: uppercase;
		background-color: $sl-brightgreen;
		@include border-radius(100px);
		@include font-size(15px);
		font-weight: 700;
		@include transition(0.2s);
		padding: 15px 25px 13px;
		line-height:100%;
		color: white;
		display: inline-block;

		&:hover,&:active{
			background-color: darken($sl-brightgreen,10%);
		}
	}
}
.search-results, .search, .post-type-archive-job, .archive.tax-job_cat, .archive.tax-job_type{
	.search-results-list{
		padding:70px 0 0 0;
		h2{
			text-transform: capitalize;
		}

		header{
			margin-bottom: 10px;
			h2{
				margin-bottom: 0px;
			}
			p{
				color: $sl-red;
			}
		}
		.below-nav{
			margin: 65px 0 0 0;
		}
	}
}
.below-nav{
	text-align: center;
	a,span{
		display: inline-block;
		width:30px;
		height:30px;
		line-height: 28px;
		text-align: center;
		@include font-size(12px);
		box-sizing: border-box;
	}
	.current{
		border:2px solid $sl-red;
	}
	a{
		border: 2px solid $sl-yellow;
		color: $sl-yellow;
		text-transform: uppercase;
		@include font-size(12px);
		&.prev,&.next{
			width: 70px;
		}
		&:hover,&:active{
			background-color: $sl-yellow;
			color: white;
		}
	}
	span{
		&.current{
			background-color: $sl-red;
			color: white;
		}
	}
}


@media screen and (max-width: 1023px) {
	.section.featured-videos .columns {
		margin-bottom: 25px;
	}
}


/*********************
INSIGHT PAGES STYLES
*********************/
.blog, .single-post, .post-type-archive-js_post, .single-js_post, .archive.category{
	figure{
		display: block;
		background-color: $sl-lightblue;
		position: relative;
		margin-bottom: 20px;
		img{
			max-width: 100%;
			height: auto;
		}
	}
	time{
		@include font-size(12px);
		display: block;
		margin-bottom: 20px;
	}

	.insights-subscribe-cta{
		position: relative;
		text-align: center;
		padding: 25px 0 10px 0;
		z-index: 100;

		a{
			span{
				display: none;
			}
		}

		button{
			@include button-empty-rounded($sl-darkblue,12px, small);
		}
	}

	.articles, .latest-resources{
		article{
			&:hover{
				h1{
					&:after{
						background: $sl-yellow;
						width: 32px;
					}
					&:before{
						opacity: 1;
					}
				}
			}
		}
		.no-posts{
			padding: 100px 0;
		}
	}

	h1, h2{
		line-height: 100%;
		display: inline-block;
		color: $sl-lightblue;
		@include font-size(24px);
		margin-bottom: 10px;
	}
	h3{
		color: $sl-lightblue;
	}
}
.blog, .post-type-archive-js_post, .archive.category{
	.articles{
		border-bottom: 1px solid #dcdcdc;
	}
	.latest-article{
		overflow: hidden;

		article{
			overflow: hidden;
			&:last-child{
				float:none !important;
			}
			.story{
				padding: 25px 0 0 10px;

				button{
					@include button-empty-rounded($sl-lightblue,12px, small);
					width: 160px;
				}
			}
			h1{
				@include font-size(32px);
				@include transition(0.2s);

				&:hover{
					color: darken($sl-lightblue, 5%);
				}
			}
			figure{
				margin-bottom: 0;
			}
		}
	}

	article{
		margin-bottom: 75px;
		&:last-child{
			float:left !important;
		}
		&.fallback{
			.inner{
				background-color:$sl-lightblue;
				position: relative;
				&:after{
					content:"";
					@include abs-pos(0,0,0,0);
					display: block;
					background-image:url('../images/bg-net.png');
					background-position: 0 50px;
					background-repeat: no-repeat;
				}
				&:before{
					content:"";
					padding-top:66.66%;
					display: inline-block;
				}
				div{
					@include abs-pos(0,0,0,0);
					padding:30px;
				}
			}
			h1,p{
				color: white;
			}
			p{
				@include font-size(14px);
			}
		}
		a{
			&:link,&:visited{
				color:$sl-lightblue;
			}
			p,time{
				color: $grey;
			}
		}
	}
	.latest-resources{
		padding: 75px 0 0 0;

		h3{
			display: none;
		}

		article{
			margin-bottom: 0;
		}

		figure{
			&:after{
			  content: "";
			  width: 48px;
			  height: 48px;
			  display: block;
			  top: 2px;
			  right: 2px;
			  bottom: auto;
			  left: auto;
			  position: absolute;
			  background-image: url("../images/download-corner.png");
			  background-position: left top;
			  background-repeat: no-repeat;
			  background-size: 100% auto;
			  z-index: 999;
			}
		}
	}
}
.single-post, .single-js_post{
	figure{
		margin-bottom: 44px;
	}

	h2{
		color: $sl-lightblue;
		@include font-size(32px);
	}
	article{
		padding-bottom: 20px;
		margin-bottom: 40px;
		border-bottom: 1px solid #dcdcdc;

		&.comment{
			background-color: #FFFFFF;
			border: 1px solid #dcdcdc;

			.article-header{
				background-color: $sl-lightblue;
				padding: 20px;
				position: relative;
				overflow: hidden;

				&:after{
					content: "";
					@include abs-pos(0,0,0,0);
		  		background-image:url('../images/bg-net.png');
		  		background-color: transparent;
					background-position: 50px -110px;
					background-repeat:no-repeat;
				}

				p{
					margin-bottom: 0;
					display: block;
					@include font-body;
					@include font-size(14px);
					color: white;
				}

				a.comment-reply-link{
					@include button-empty-rounded(white, 12px, small);
					float: right;
					line-height: 28px;
				  position: absolute;
				  top: 50%;
				  margin-top: -17px;
				  right: 20px;
				  z-index: 1;

				  &:hover{
				  	color: $sl-lightblue;
				  }
				}

				h3{
					line-height: 1;
					margin: 0;
					color: white;
					display: inline-block;
				}

			}
			.entry-content{
				padding: 20px 20px 0 20px;
			}
  	}
	}
	.post-wrap{
		position: relative;

		a{
			color: $sl-lightblue;

			&:hover{
				text-decoration: underline;
			}
		}
		ul{
			margin-left: 5px;
			li{
				&:before{
					content: "- ";
					margin-right: 5px;
				}
			}
		}
		.download-guide{
			clear: both;
			margin-top: 40px;

			.gform_body, .gform_footer{

				ul li:before{
					display: none;
				}
				label{
					display: none;
				}
			}
			.gform_footer{
			  float: none;
			  padding: 0 30px 30px 30px;
			  width: 100%;
			  input[type="submit"]{
			  	width: 100%;
			  }
			}
		}
		.gform_confirmation_wrapper{
			padding: 23px;

			h3{
				color: $sl-lightblue;
				margin: 0;
			}
		}
	}
	.post-wrap-resource{
		position: relative;

		&:after{
		  content: "";
		  width: 48px;
		  height: 48px;
		  display: block;
		  top: 3px;
		  right: 3px;
		  bottom: auto;
		  left: auto;
		  position: absolute;
		  background-image: url("../images/download-corner.png");
		  background-position: left top;
		  background-repeat: no-repeat;
		  background-size: 100% auto;
		  z-index: 999;
		}
	}

	.comments-wrap{
		padding-top: 45px;
		margin-bottom: 75px;

		.error{
			@include font-size(14px);
			padding: 10px 0;
		}
		.errorlabels{
			display: none !important;
		}

		.commentlist{
			.children{
				margin-left: 5%;
				position: relative;

				&:before{
					content: "";
					position: absolute;
					top: -41px;
					left: 1px;
					height: 41px;
					width: 1px;
					background: #dcdcdc;
				}
			}
		}

		#respond{
			a{
				color: $sl-lightblue;
			}
		}
		#commentform{
			p{
				margin: 0;
			}
			label{
				display: block;
				clear: both;
			}
			input, textarea{
				margin-top: 10px;
				max-width: 480px;
				border: 1px solid #dcdcdc;
				margin-bottom: 0;
			}
			#submit{
				max-width: 280px;
				background: $sl-yellow;
				color: #FFFFFF;
				text-transform: uppercase;
				font-weight: 700;

			}
			input.error, textarea.error{
				background: lighten($sl-red, 35%);
				@include font-size(12px);
				padding: 14px;
			}
		}
	}

	#main-sidebar{
		h3{
			@include font-size(24px);
			@include header-underline($sl-lightblue, small);
		}
		article{
			margin-bottom: 0;
			border-bottom: none;

			figure{
				margin-bottom: 0;
			}
			h4{
				color: $grey;
			}
		}
		ol{
			margin-bottom: 40px;
			overflow: hidden;

			article:last-child{
				margin-bottom: 0;
			}
		}
		.ning{
			background: #75af2d;
			max-width: 480px;
			margin: 0 auto 60px auto;
			clear: both;
			overflow: hidden;

			.image{
				padding: 30px 15px;
				border-right: 1px solid lighten(#75af2d, 20%);
				float: left;
				max-width: 100px;
				display: block;
				margin: 0;
			}

			p{
				color: #FFFFFF;
				margin: 0 0 0 100px;
				padding: 33px 0;
				text-align: center;
				@include font-size(13px);
			}
		}
		.newsletter-signup{
			background: $sl-darkblue;
			padding: 20px;
			max-width: 640px;
			margin: 0 auto 40px auto;

			h4, p{
				color: #FFFFFF;

				&:after{
					background: #FFFFFF;
					margin-top: 10px;
				}
			}
			label{
				display: none;
			}
			.gform_body{
				ul{
					li{
						margin: 0 0 15px 0;
						input{
							margin-bottom: 0;
						}
					}
				}
			}
			.validation_error, .validation_message{
			  color: $sl-red;
			  font-size: 12px;
			  font-size: 0.75rem;
			  margin: 5px 0;
			}
			.validation_error{
				margin: 5px 0 15px 0;
			}
		}
	}

	.social{
		margin-bottom: 40px;

		nav{
			float: left;
		}
		.inner{
			@include inline-menu;
			@include clearfix;
			border-bottom: 1px solid #dcdcdc;
			padding-bottom: 30px;

			ul{
				margin:0;
				padding:0;
				overflow: hidden;
				li{
					margin-right: 10px;
				}
			}

			.share{
				overflow: hidden;

				a{
					margin: 0 10px 20px 0;
				}

				nav{
					margin: 0 0 20px 0;

					a{
						padding: 0 2px;
						margin: 0;
					}
				}
			}

			.comments{
				overflow: hidden;
				margin-top: 20px;
				margin-bottom: 0;

				span{
					float: left;
					display: inline-block;
					line-height: 34px !important;
					height: 34px;
					text-transform: uppercase;
					@include font-size(12px);
					color: $sl-lightblue;
					font-weight: 700;
					margin-right: 10px;
				}
			}
		}

		a button{
			@include button-empty-rounded($sl-lightblue,12px, small);
		}
		.icon{
			@include font-size(28px);
			@include transition(color .3s ease);
			display: inline-block;
			line-height: 0;
			height:34px;
			margin-top:17px;
			vertical-align: Base;
			float:left;
			&.icon-twitter{
				color: #78cdf0;
				&:hover{
					color:darken(#78cdf0,10%);
				}
			}
			&.icon-facebook{
				color: #537bbd;
				&:hover{
					color:darken(#537bbd,10%);
				}
			}
			&.icon-iconmonstr-linkedin-4-icon{
				color: #2085c7;
				&:hover{
					color:darken(#2085c7,10%);
				}
			}
			&.icon-googleplus{
				color: #e9644a;
				&:hover{
					color:darken(#e9644a,10%);
				}
			}
		}
	}
}
.archive.category{
	border-bottom: none;
	.trustpilot-wrap{
		margin-top: 0px;
		overflow: hidden;

		.trustpilot-widget{
			overflow: hidden;
		}
	}
}



/*********************
INDUSTRY SPECIFIC STYLES
*********************/
.page-template-page-industry-specific-php, .page-template-page-industry-specific-alt-php{
	.industry-page-header{
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center center;
		margin-bottom: 25px;
		position: relative;

		.logo{
			text-align: center;
			padding: 25px 0;

			img{
				max-width: 110px;
			}
		}

		.banner-message{
			h1{
				color: #FFFFFF;
			}
		}
	}

	.main-section{
		h2{
			line-height: 1;
			text-align: center;
			@include font-size(25px);
			font-weight: 700;
		}
	}

	aside{
		text-align: center;

		.tp_-_category-badge{
			display: inline-block;
			margin: 30px 0 45px 0;
		}
	}

	.callback-section{
		margin-top: 45px;
		background: #ececec;
		padding: 75px 0;
		border-top: 1px solid #dcdcdc;

		.form-details{
			h2{
				text-align: left;
				@include font-size(20px);
				font-weight: 700;
			}
		}

		input, textarea{
			margin-bottom: 20px;
		}
	}

	.page-footer{
		header.contact{
			margin-bottom: 0px;
		}
	}
}

#uploadCV .form-warning {
	color: #273150;
	font-size: 12px;
	padding: 20px;
}

#uploadCV .validation_error {
	color: #e73f33;
	margin-bottom: 18px;
}

#uploadCV .validation_message {
	margin-top: -8px;
	margin-bottom: 18px;
}

#uploadCV .ginput_preview {
	margin-bottom: 8px;
}

#uploadCV .gform_confirmation_message {
	padding: 20px 40px 40px 20px;
}

#home-banner-carousel {

	h3 {
		color: #e73f33;
	}

	.button-find-job {
		width: 140px;
	}

	.owl-prev, .owl-next {
		text-indent: -5555em;
		position: absolute;
		top: 50%;
		margin-top: -27px;
		width: 54px;
		height: 54px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		opacity: 0.6;
		background-image: url(../images/sprite-icons.gif);
		background-repeat: no-repeat;
	}
	.owl-prev:hover, .owl-next:hover {
		opacity: 1;
	}
	.owl-prev {
		left: 10%;
		background-position: 0 -310px;
	}
	.owl-next {
		right: 10%;
		background-position: 100% -310px;
	}
	.owl-controls {
		text-align: center;
	}
	.slider-item {
		background-position: center center;
		background-repeat: no-repeat;
	}
	.owl-dots {
		top: -22px;
    position: relative;
		-moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    background-color: #fff;
		display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px 8px 3px;
    vertical-align: bottom;
    width: auto;
    .owl-dot {
			float: left;
	    list-style: none;
	    padding: 2px 7px;
	    background: 0;
	    span {
		    margin: 0;
				background: #fff url(../images/sprite-icons.gif) 0 -280px no-repeat;
		    display: block;
		    height: 7px;
		    width: 7px;
		    outline: 0;
	    }
    }
    .owl-dot.active {
	    span {
	    	background-position: 100% -280px;
	    }
    }
	}
}

@media screen and (max-width: 767px) {
	#home-banner-carousel .owl-prev, #home-banner-carousel .owl-next {
		display: none !important;
	}
}

@media screen and (max-width: 480px) {
	#home-banner-carousel .slider-item {
		height: 223px !important;
		padding-bottom: 20px;
	}
}

.upload-cv-page-details {

	padding-left: 15px;
	padding-right: 15px;

	.col-left, .col-right {
		padding: 60px 30px 40px 30px;
		min-height: 505px;
		color: #fff;
		background-repeat: no-repeat;
		h2, ul, ul li {
			color: #fff;
		}
		h2 {
			position: relative;
		}
		h2:after {
			content: '';
			position: absolute;
			height: 4px;
			background-color: #fff;
			width: 15px;
			left: 0;
			bottom: 0;
		}
		ul {
			list-style-image: url(../images/check.png);
		}
	}
	.col-left {
		background-color: #208492;
		background-image: url(../images/texture-left.png);
		background-position: left bottom;
	}
	.col-right {
		background-color: #86c9b9;
		background-image: url(../images/texture-right.png);
		background-position: right top;
	}
}

@media screen and (max-width: 1024px) {
	.upload-cv-page-details {
		.col-left, .col-right {
			min-height: 1px;
		}
	}
}

.upload-cv-content-container {
	background-color: #f4f4f4;
	border-top: 1px solid #dcdcdc;
	padding-bottom: 75px;
	padding-top: 20px;
}