/******************************************************************
Stylesheet: Desktop Stylsheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/



/*********************
LINK STYLES
*********************/
a, a:visited {
	@include transition(all 0.2s ease-in-out);

	&:active {
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
HEADER STYLES
*********************/
.page-header{
	background: #f0f0f0;

	.recruiter-bar{
		display: block;
		position: relative;
		padding: 8px 0;
		top: 0;
		right: 0;
		background-color: #273150;

		.trustpilot-wrap{
			display: block;
			position: absolute;
			top: 4px;
			padding: 0;
			background: none;
			border: none;
			margin: 0;
		}

		.login{
			display: block;
			button{
				margin: 2px 0;
			}
		}

		button{
			float: right;
			
			&:hover{
				background: $sl-darkblue;
				color: #FFFFFF;
			}
		}
	}

	.header-wrap &{
		background-color: transparent;
	}

	.mobile-menu-trigger{
		display: none;
	}


	.main-bar{
		background: #FFFFFF;
		padding: 32px 0;

		.logo-wrap{
			width: 10%;
			float: left;
			padding: 0;
			.main-logo{
				display: block;
			}
		}
		.menu-wrap{
			display: block;
			width: 86%;
			margin: 0 0 0 4%;
			float: left;
			max-height: 200px;
			overflow: visible;
			@include transition(0s);

			ul{
				margin: 30px 0 0 0;
				border: none;
				overflow: visible;

				li{
					display: inline-block;
					width: auto;
					border: none;
					float: left;
					margin-right: 23px;
					position: relative;

					a{
						@include font-size(12px);
						font-weight: 700;
						text-transform: uppercase;
						color: $sl-darkblue;
						margin: 0;
						display: block;
						height: 100%;
						padding: 7px 0 0 0;

						&:after{
							@include transition(0.2s);
							display: block;
							content: "";
							height: 2px;
							width: 12px;
							margin: 10px 0 0 0;
							background: $sl-darkblue;
						}

						&:before{
							@include transition(0.3s);
							opacity: 0;
							display: block;
							content: "";
							width: 6px;
							height: 6px;
							background: $sl-yellow;
							-moz-border-radius: 50px;
							-webkit-border-radius: 50px;
							border-radius: 50px;
							position: absolute;
							bottom: -2px;
							left: 32px;
						}

						&:hover{
							color: $sl-yellow;
						}
					}


					ul.sub-menu{
						display: none;
						position: absolute;
						top: 100%;
						border: 1px solid #dcdcdc;
						margin: 0;
						background: #FFFFFF;
						width: 160px;
						z-index: 100;
						max-height: 200px;

						li.menu-item{
							margin: 0;
							width: 100%;

							a{
								text-indent: 0;
								display: block;
							}

							a, a:last-child{
								display: block;
								text-indent: 0;
								color: $sl-darkblue;
								padding: 12px 16px;

								&:after, &:before{
									display: none;
								}

								&:hover{
									color: $sl-yellow;
								}
							}
						}
					}


					&:hover{
						a{
							&:after{
								background: $sl-yellow;
								width: 32px;
							}
							&:before{
								opacity: 1;
							}
						}

						ul{
							display: block;
						}
					}

					&:last-child{
						margin-right: 0;
						a{
							color: $sl-red;

							&:before{
								background: $sl-red;
							}

							&:after{
								background: $sl-red;
							}
						}
					}
				}
				.key-service{
					position: relative;
					top: auto;
					width: auto;
					background-color: transparent;

					a{
						margin: 0;
						display: block;
						height: 100%;
						padding: 7px 0 0 0;
					}

					.mobile-dropdown-trigger{
						height: 27px;
						border: none;
						background-size: 18px;
						background-color: red;
						width: 30px;
					}

					&.fpr{
						left: auto;
					}
					&.ca{
						left: auto;
						width: auto;
					}
					&.am{
						left: auto;
						width: auto;
					}
				}


				.current_page_item, .current_page_ancestor, .current_page_parent{
					a{
						color: $sl-yellow;

						&:after{
							background: $sl-yellow;
						}
					}
				}
				.menu-item-has-children{
					.mobile-dropdown-trigger{
						display: none;
					}
				}
			}
		}
		.menu-wrap-visible{
			@include transition(0s);
		}

		.contact-wrap{
			display: block;
			width: 20%;
			position: absolute;
			top: 5px;
			right: 15px;
			text-align: right;

			h1{
				@include font-size(19px);
				font-weight: 300;
				margin: 0;
				color: $sl-darkblue;
				line-height: 1.25;
			}

			p{
				clear: both;
				@include font-size(13px);
				color: $sl-darkblue;
				font-weight: 700;
				margin: 0;

				a{
					color: $sl-red;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}

	button{
		@include button-empty-rounded($sl-darkblue);
	}
}
.mobile-menu-open{
	.recruiter-bar{
		button{
			color: $sl-darkblue;
			border-color: $sl-darkblue;
		}
	}

	.main-bar{
		.logo-wrap{
			.main-logo{
				display: block;
			}
			.main-logo-white{
				display: none;
			}
		}
		.menu-wrap{
			ul{
				li{
					a{
						color: $sl-darkblue;
					}
				}
			}
		}
	}
}



/*********************
SIDEBARS & ASIDES
*********************/


/*********************
FOOTER STYLES
*********************/
.page-footer{

	header.contact{
		margin-bottom: 50px;

		.logo{
			text-align: left;
			margin: 30px 0 0 0;
		}

		ul{
			float: none;
			overflow: hidden;
			
			li{
				text-align: left;
				margin-left: 0;

				p{
					@include font-size(13px);
					a{
						@include font-size(13px);
					}
				}
			}
		}
	}

	.footer-social{
		padding: 40px 0 0 0;
	}

	.subscribe{
		&:before{
			display: block;
			content: '';
			border-left: 1px solid lighten($sl-darkblue, 5%);
			height: 311px;
			position: absolute;
			top: -50px;
			left: -100px;
		}
	}
}


/*********************
PAGE STYLES
*********************/
.page-styles{
	p, ul li{
		@include font-size(16px);
	}
}

/*********************
GLOBAL STYLES
*********************/
.standard-form-wrap{
	.form-details{
		width: 27.5%;
		padding: 30px;

		h2{
			@include font-size(24px);
		}

		p{
			@include font-size(14px);
		}
	}

	.gform_wrapper{
		width: 72.5%;
		margin-left: 27.5%;
		padding: 40px;

		.gform_footer{
			input[type="submit"]{
				width: 280px;
				margin: 0;
			}
		}
	}
}

.download-guide{
	max-width: 100%;
	margin: 0;
}


/*********************
JOBSEEKERS PAGES STYLES
*********************/
.search-results, .page-template-page-jobseekers, .search-no-results, .post-type-archive-job, .archive.tax-job_cat, .archive.tax-job_type{
	.section{
		padding: 75px 0;
	}

	.header-wrap{
		.job-search-header{
			background-color: transparent;

			.article-header{
				padding: 30px;
				h3, p{
					display: inline-block;
				}
				h3{
					margin-right: 10px;
				}
				p{
					@include font-size(14px);
				}
			}
		}
	}

	form{
		.checkboxes{
			margin-bottom:0;
		}	
	}

	article.job{
		.article-header{
			padding: 30px;

			h3{
				margin: 0;
			}

			a{
				position: absolute;
				top: 50%;
				margin-top: -17px;
				right: 30px;

				button{
					@include font-size(14px);
				}
			}

			&:after{
			  background-position: 260px -45px;
			}
		}

		&:nth-child(even) {
			.article-header{
				&:after{
					background-position: 280px -40px;
				}
			}
		}
		
		.entry-content{
			padding: 30px;
		}
	}
}

.single-job{

	.job-details{
		.large-apply{
			display: block;
			border-top: 1px solid #dcdcdc;
			border-bottom: 1px solid #dcdcdc;
			padding: 30px 0;
			margin-top: 60px;
		}
	}
	#main-sidebar{
		margin-top: 150px;
		.profile{
			text-align: left;
			margin: 0;
			p{
				display: block;
			}
			a button{
				@include button-empty-rounded($sl-red, 15px,'big');
			}
		}
		.social{
			text-align: left;
			nav{
				display: block;
			}
		}
	}
}





/*********************
INSIGHT PAGES STYLES
*********************/
.blog, .post-type-archive-js_post, .archive.category{
	.third{
		clear: both;
	}
	article{
		&.fallback{
			.inner{
				div{
					padding: 20px;
					.entry-content{
						p{
							margin-bottom: 10px; 
						}
					}
				}
			}
			p{
				@include font-size(13px);
			}		
		}
	}
}
.single-post, .single-js_post{
	#main-sidebar{
		article{
			figure{
				margin-bottom: 0;
			}
		}

		.ning{
			.image{
				max-width: 120px;
			}
			p{
				margin: 0 0 0 120px;
				padding: 36px 0;
				@include font-size(14px);
			}
		}
	}
}


/*********************
HOME PAGE STYLES
*********************/

.page-header{
	background: $sl-darkblue;
	.recruiter-bar{
		button{
			color: #FFFFFF !important;
			border-color: #FFFFFF !important;

			&:hover{
				color: $sl-darkblue !important;
				background: #FFFFFF !important;
			}
		}
	}
}

.page-home{


	.hero-media{
		.copy{
			padding: 65px 0 40px 0;
		}
	}


	.service-intros{
		margin-bottom: 75px;
		header{
			h2{
				@include font-size(20px);
			}
		}

		article{
			.content{
				min-height: 125px;
			}
		}
	}

	.customer-service-video{
		display: block;
		overflow: hidden;
		height: auto;
		position: relative;
		background-repeat: no-repeat;
		background-size: 100%;
		max-height: 320px;

		.overlay{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
			text-align: center;

			.text{
				width: 65%;
				margin: 0 auto;
				margin-top: 16px;
				max-width: 640px;

				h3, p{
					color: #FFFFFF;
					margin: 0;
				}
				p{
					margin: 0 0 10px 0;
				}

				h3{
					margin: 0 0 10px 0;
					line-height: 1;
					color: $sl_yellow;
					@include font-size(32px);
				}
			}
			.trustpilot-logo{
			  text-align: center;
			  position: absolute;
			  margin: 0 auto;
			  left: 50%;
			  margin-left: -50px;
			}
		}

		.arrow{
			background: #FFFFFF;
			height: 25px;
			position: absolute;
			bottom: 0;
			width: 49%;
		}
		.left-arrow{
			left: 0;

			&:after{
				content: "";
				width: 0;
				height: 0;
				border-bottom: 25px solid #FFFFFF;
				border-right: 25px solid transparent;
				position: absolute;
				top: 0;
				left: 100%;
			}
		}
		.right-arrow{
			right: 0;

			&:after{
				content: "";
				width: 0;
				height: 0;
				border-bottom: 25px solid #FFFFFF;
				border-left: 25px solid transparent;
				position: absolute;
				top: 0;
				right: 100%;
			}
		}
	}

	.latest-insights{
		.center.header{
			text-align: left;
		}
		article{
		  max-width: 100%;
		  margin: 0;
		  float: left;

			h2{
				@include font-size(24px);
				font-weight: 700;
				color: $sl-lightblue;
				text-align: left;
				margin: 15px 0;
				position: relative;

				&:after{
					@include transition(0.2s);
					margin: 10px 0 0 0;
					display: block;
					content: "";
					height: 2px;
					width: 12px;
					background: $sl-lightblue;
				}

				&:before{
					@include transition(0.3s);
					opacity: 0;
					display: block;
					content: "";
					width: 6px;
					height: 6px;
					background: $sl-yellow;
					-moz-border-radius: 50px;
					-webkit-border-radius: 50px;
					border-radius: 50px;
					position: absolute;
					bottom: -2px;
					left: 32px;
				}
			}

			time{
				@include font-size(12px);
				display: block;
				margin-bottom: 20px;
			}

			p{
				@include font-size(14px);
			}

			button{
				@include button-empty-rounded($sl-lightblue, 12px,'small');
				width: 160px;
				height: 34px;
			}

			&:hover{
				h2{
					&:after{
						width: 32px;
						background: $sl-yellow;
					}
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}
}



/*********************
LANDING STYLES
- Fixed Price Recruitment
- Candidate Attraction
- Applicant Management
*********************/
.page-template-page-fixed-price-recruitment-php{
	.header-wrap{
		background-position: -400px 250px;
	}

	.hero-section{
		text-align: left;
		padding: 20px 0 90px 0;

		h1{
			@include font-size(64px);
			max-width: none;
			margin: 0;
		}

		.hero-content-wrap{
			a{
				display: block;
			}
		}

		.hero-tp{
			display: block;
			position: absolute;
			bottom: -52px;
			right: 0;
		}
		.mob-details{
			display: none;
		}
	}

	.packages-section{
		h1{
			text-align: left;
		}
		
		h2{
			@include font-size(32px);
		}

		.button-request-callback{
			@include font-size(14px);
		}

		.packages-box{
			margin: 0;
		}

		.package-box-first{
			text-align: left;
			padding: 20px;
			margin: 0 0 20px 0;

			.button-request-callback{
				margin: 0;
			}

			.package-box-content{
				width: 50%;
			}

			.package-box-img{
				display: block;
				position: absolute;
				bottom: 0;
				right: 0;
				max-width: 50%;
				z-index: 10;

				img{
					margin: 0 auto;
				}
			}
		}
	}

	.pricing-section{
		padding: 1.9375em 0;

		.feautre-list-header{
			position: relative;
			margin-bottom: 10px;

			h1{
				line-height: 1;
				@include font-size(40px);
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto 25px auto;
			}
		}

		.desktop-feature-list{
			display: block;

			ul{
				li{
					padding: 11px 0;
				}
			}
		}

		.package-header-wrap{
			position: relative;
			display: table;
			width: 100%;
			pointer-events: none;

			.t-cell{
				display: table-cell;
				vertical-align: bottom;
			}
		}

		.package-promoted{
			background-position: 0 0;
			top: -1px;
			width: 85px;
			height: 85px;
			left: 0.9375em;
			margin-left: -1px;
		}


		header{
			text-align: center;
			padding: 10px;

			.header-img{
				display: inline-block;
				width: 50px;
			}

			img{
				margin: 0 0 10px 0;
				max-width: 50px;
			}

			.header-content{
		    display: block;
		    vertical-align: middle;
		    padding: 0 0 0 15px;
			}

			h2{
				max-width: none;
			}
		}

		ul{
			display: block !important;
			
			li{
				padding: 10px 0;
				text-align: center;

				.feature-name{
					display: none;
				}

				.icon{
					float: none;
					margin: 0 auto;
				}
			}
		}

		.button-request-callback{
			margin: 30px auto 0 auto;
		}


		.promoted{
			header{
				margin-top: 0;
			}

			ul{
				padding-bottom: 20px;
			}
		}
	}

	.more-info-section{
		.info-panel{
			padding: 10px 20px;

			h3, p{
				font-weight: 300;
			}

			h3{
				@include font-size(24px);
			}
			p{
				@include font-size(16px);
			}
		}
	}
}

.page-candidate-attraction, .page-advertising, .page-applicant-management{
	.header-wrap{
		background-position: center 200px;
		background-color: #FBA63B;
		background-size: 1400px;

		.article-header{
			height: 390px;

			.overview-icon{
				max-width: 60px;
				border: none;
				margin: 0;
			}

			h1{
				margin: 10px 0 0 0;
				@include font-size(36px);
			}
			p{
				margin: 10px 0 0 0;
				@include font-size(16px);
			}
			button{
				margin: 30px 0 0 0;
			}
		}
	}
}

.page-applicant-management{
	.header-wrap{
		background-color: #78C9B8;
		.article-header{
			h1{
				color: #27957e;
			}
		}
	}
}





/*********************
GENERAL CONTENT STYLES
- POLICY
- ABOUT
*********************/
.page-template-page-general-content-php{
	aside{
		margin-top: 160px;

		.aside-content{
			width: 100%;
			float: none;

			&:last-child{
				margin-bottom: 0;
			}
		}
		.get-in-touch{
			margin-left: 0;
		}
	}
}


/*********************
CONTACT PAGE STYLES
*********************/
.page-template-page-contact-php{
	.contact-form-wrap{
		.form-details{
			width: 27.5%;
			padding: 30px;

			h2{
				@include font-size(24px);
			}

			p{
				@include font-size(14px);
			}
		}

		.gform_wrapper{
			width: 72.5%;
			margin-left: 27.5%;
			padding: 40px;
			height: 400px;

			.gform_footer{
				input[type="submit"]{
					width: 280px;
				}
			}
		}
	}
}



/*********************
INDUSTRY SPECIFIC STYLES
*********************/
.page-template-page-industry-specific-php, .page-template-page-industry-specific-alt-php{
	.industry-page-header{
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center center;
		height: 450px;

		.logo{
			text-align: center;
			padding: 20px 0;

			img{
				max-width: 160px;
			}
		}

		.arrow{
			background: #F4F4F4;
			height: 25px;
			position: absolute;
			bottom: 0;
			width: 48.5%;
		}
		.left-arrow{
			left: 0;

			&:after{
				content: "";
				width: 0;
				height: 0;
				border-bottom: 25px solid #FFFFFF;
				border-right: 25px solid transparent;
				position: absolute;
				top: 0;
				left: 100%;
			}
		}
		.right-arrow{
			right: 0;

			&:after{
				content: "";
				width: 0;
				height: 0;
				border-bottom: 25px solid #FFFFFF;
				border-left: 25px solid transparent;
				position: absolute;
				top: 0;
				right: 100%;
			}
		}
	}

	.main-section{
		h2{
		  font-size: 50px;
		  font-size: 3.125rem;
			text-align: left;
			font-weight: 700;
		}
	}


	aside{
	}

}

