/******************************************************************
Stylesheet: Between Medium and Large
******************************************************************/


/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
HEADER STYLES
*********************/
.page-header{
	.recruiter-bar{
		.login{
			display: block;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/


/*********************
GLOBAL STYLES
*********************/
.breadcrumbs{
	padding: 32px 0;
}

/*********************
HOME PAGE STYLES
*********************/
.page-home, .page-template-page-industry-specific-php{

	.hero-media{
		background-position: center center;

		.copy{
			padding: 80px 0;

			h1{
				@include font-size(60px);
			}
			h3{
				@include font-size(24px);
			}
		}
	}

	.service-intros{
		margin-top: 75px;
		margin-bottom: 75px;
		
		article{
			&:hover{
				.service-image{
					margin-top: 40px;
				}
			}
			.content{
				min-height: 150px;
				overflow: hidden;
			}
			p{
				@include font-size(14.5px);
			}
		}
		header{
			height: 280px;

			.service-image{
				margin-top: 30px;
			}

			h2{
				@include font-size(20px);
			}

		}
		p{
			@include font-size(13px);
		}
		a{
			display: block;
			text-align: center;
		}

		.learn-more{
			width: 210px;
			height: 40px;
			@include font-size(14px);
		}
	}

}


/*********************
LANDING STYLES
- Fixed Price Recruitment
- Candidate Attraction
- Applicant Management
*********************/
.page-template-page-landing-php{

	.header-wrap{
		background: none;
		background-image: url("../images/header-bg.png");
		@include bg-cover;
		background-position: top center;

		.breadcrumbs{
			z-index: 1;
			color: $grey;

			span{
				color: $grey;

				a{
					color: $sl-lightblue;
				}
			}
		}

		.force-right{
			margin-left: 50% !important;
			width: 50%;
		}

		&:after{
			display: none;
		}

		.article-header{
			height: 420px;
			text-align: left;
			padding: 10px 0 80px 0;

			.overview-icon{
				max-width: 60px;
				border: none;
			}

			h1{
				margin-bottom: 20px;
				line-height: 1;
			}
			p{
				margin: 0;
				color: $sl-darkblue;
				@include font-size(16px);
				max-width: 100%;
			}
			button{
				margin: 30px 0 0 0;
			}
		}
	}

	.services-wrap{
		.service-wrap{
			.service-content{
				.button-request-callback{
					@include font-size(14px);
					padding: 0 30px 0 20px;
					height: 42px;
					position: absolute;
					top: 0;
					right: 30px;
				
					img{
						margin: -2px 10px 0 0;
					}
				}
			}
		}
	}
}
.page-candidate-attraction, .page-advertising{

	.header-wrap{
		background-image: url("../images/header-ca.jpg");

		.breadcrumbs{
			span{
				a{
					color: #FFFFFF;
				}
				span{
					color: #FFFFFF;
				}
			}
		}
		.article-header{
			h1, p{
				color: #FFFFFF;
			}
		}
	}
}

.page-applicant-management{

	.header-wrap{
		background-image: url("../images/header-am.jpg");

		.breadcrumbs{
			span{
				a{
					color: #FFFFFF;
				}
				span{
					color: #FFFFFF;
				}
			}
		}
		.article-header{
			h1, p{
				color: #FFFFFF;
			}
		}
	}
}

.page-template-page-fixed-price-recruitment-php{
	.more-info-section{
		padding: 75px 0;
		background: #FFFFFF;

		.info-panel{
			width: 33.33%;
			float: left;
			padding: 20px;
			height: 330px;

			h3, p{
				font-weight: 300;
			}

			h3{
				@include font-size(22px);
				margin-top: 50px;
			}
		}
		.panel1, .panel2, .panel3{
			background-size: 90%;
		}
	}
}


/*********************
GENERAL CONTENT STYLES
- POLICY
- ABOUT
SINGLE JOB
*********************/
.page-template-page-general-content-php, .page-template-page-contact-php, .single-job{
	.sl-logo-notype{
		top: 110px;
		img{
			max-width: 300px;
		}
	}
}



.blog{
	.insights-subscribe-cta{
		a{
			top: 25px;
		}
	}
}



