/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/

html.touch{
	.page-home{
		.service-intros{
			header{
				.request-callback-animated{
					width: 150px;
					.desktop{
						display: block;
					}
					.mobile{
						display: none;
					}
				}
			}
		}
	}
}
/*********************
GENERAL STYLES
*********************/


/*********************
LINK STYLES
*********************/

a, a:visited {
	@include transition(all 0.2s ease-in-out);

	&:active {

	}
}




/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
HEADER STYLES
*********************/
html.touch{
	.page-header{
		.recruiter-bar{
			.call{
				display: none;
			}
		}
	}
}

.page-header{
	.main-bar{
		.menu-wrap{
			ul{
				.key-service{
					position: absolute;
					top: 40px;
					width: 240px;
					border: none;
					width: auto;

					a{
						margin: 0;
						padding: 5px 0;
					}

					.mobile-dropdown-trigger{
						height: 27px;
						border: none;
						background-size: 18px;
						background-color: $sl-yellow;
						width: 30px;
					}

					&.fpr{
						left: 180px;
					}
					&.ca{
						left: 340px;
						width: 170px;
					}
					&.am{
						left: 525px;
						width: 180px;
					}

					.sub-menu{
						li{
							a{
								padding: 10px 0;
							}
						}
					}
				}
			}
		}
	}
}


/*********************
NAVIGATION STYLES
*********************/



/*********************
GLOBAL STYLES
*********************/
.breadcrumbs{
	padding: 24px 0;

	span{
		margin: 0 20px 0 0;

		span{
			margin: 0 0 0 20px;
			padding-bottom: 0;
		}

		a{
			margin-left: 20px;
			padding-bottom: 0;
		}

		&:first-child{
			a{
				margin-left: 0;
			}
		}
	}
}



/*********************
FOOTER STYLES
*********************/
.page-footer{

	header.contact{
		ul{
			li{
				margin-left: 45px;
			}
		}
	}

	.links{
		width: 33.33%;
		float: left;

		&:nth-child(odd){
			clear: none;
		}
	}
}


/*********************
GLOBAL STYLES
*********************/
.trustpilot-wrap{
	padding: 50px 0;
}

.standard-form-wrap{
	.form-details{
		width: 30%;
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		padding: 20px;

		h2{
			@include font-size(20px);
		}

		.button-pos {
			position: absolute;
			bottom: 30px;
			left: 30px;
			right: 30px;
		}
	}

	.gform_wrapper{
		width: 70%;
		float: left;
		margin-left: 30%;
		border: 1px solid #dcdcdc;
		padding: 25px;

		.fields-left{
			float: left;
			width: 47.5%;
			clear: both;
		}

		.fields-right{
			float: right;
			width: 47.5%;
			margin-top: -240px;
		}

		.gform_footer{
			input[type="submit"]{
				width: 200px;
			}
		}
	}
	.gform_validation_error{
		.fields-right{
			margin-top: -224px;
		}
	}

	.gforms_confirmation_message{
	  position: relative;
	  z-index: 100;
	  background: #FFFFFF;
	  text-align: center;
	  padding: 70px 30px;
	  border: 1px solid #dcdcdc;
	  color: $sl-lightblue;
	  @include font-size(16px);
	}
}


/*********************
HOME PAGE STYLES
*********************/
.page-home, .page-template-page-industry-specific-php, .page-template-page-industry-specific-alt-php{

	.hero-media{
		background-position: -400px 0;

		.copy{
			padding: 80px 0;
		}
	}


	.service-intros{
		margin-bottom: 75px;

		article{
			float: left;
			max-width: 100%;
			margin: 0;
			width: 33.33%;

			.content{
				min-height: 95px;
				text-align: center;
			}
		}
		article.article-3{
			float: left;
		}
	}
}



/*********************
LANDING STYLES
- Fixed Price Recruitment
- Candidate Attraction
- Applicant Management
*********************/
.page-template-page-landing-php{

	.sub-nav{
		padding: 30px 0;
		p{
			.title, .arrow, a{
				display: inline-block;
				margin: 0 20px 0 0;
			}
		}

		.tp_-_category-badge{
			position: absolute;
		  top: -44px;
		  right: 20px;
		  margin-top: 0;
		}
	}



	.services-wrap{
		.service-wrap{
			padding: 30px 40px;

			.service-icon{
				width: 20%;
				float: left;
				margin-bottom: 0;

				img{
					max-width: 100%;
					margin: -60px 0 0 0;
				}
			}

			.service-content{
				width: 80%;
				float: left;
				padding-left: 30px;

				header{
					text-align: left;
					margin-top: 0;

					h2{
						margin: 0;
					}

					h3{
						@include font-size(18px);
					}
				}

				.learn-more{
					display: inline-block;
				}

				p{
					width: 70%;
				}
			}
		}
	}
}

.page-template-page-fixed-price-recruitment-php{

	.header-wrap{
		&:after{
		  background-position: center top;
		  opacity: 1;
		}

		.hero-section{
			.title{
				h1{
					@include font-size(60px);
				}
			}
			p{
				@include font-size(15px);
			}
		}

		.choices-section{
			padding-bottom: 75px;

			.choice-wrap{
				background: #FFFFFF;
				background: rgba(255,255,255,0.7);
				text-align: center;
				padding: 40px 10px;
				margin-bottom: 0;

				h1{
					p{
						@include font-size(60px);
						font-weight: 300;
						margin: 0 auto;
						color: $sl-darkblue;
						line-height: 1;
					}
				}

				p{
					@include font-size(14px);
					max-width: 400px;
					margin: 0 auto 40px auto;
					color: #333333;
				}

				a{
					display: block;
				}
				button{
					width: 220px;
					height: 42px;
					margin: 0 auto;
					@include font-size(14px);
					padding: 0;
				}
			}
		}
	}

	.more-info-section{
		.info-panel{
			h3{
				@include font-size(32px);
			}
		}
	}
}



/*********************
CONTACT PAGE STYLES
*********************/
.page-template-page-contact-php{
	.contact-form-wrap{
		.form-details{
			width: 30%;
			float: left;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			padding: 20px;

			h2{
				@include font-size(20px);
			}

			&:after{
			  background-position: -650px 150px;
			}
		}

		.gform_wrapper{
			width: 70%;
			float: left;
			margin-left: 30%;
			border: 1px solid #dcdcdc;
			padding: 25px;
			height: 360px;

			.fields-left{
				float: left;
				width: 47.5%;
				clear: both;
			}

			.fields-right{
				float: right;
				width: 47.5%;
				margin-top: -120px;

				textarea{
					height: 160px;
				}
			}

			.gform_footer{
				input[type="submit"]{
					width: 200px;
				}
			}
		}
		.gform_validation_error{
			.fields-right{
				margin-top: -224px;
			}
		}
	}
}



/*********************
JOBSEEKER PAGES STYLES
*********************/
.single-job{
	.job-details{
		margin-top: 40px;

		h1{
			@include font-size(40px);

			&:after{
				width: 24px;
				height: 4px;
				margin-top: 15px;
			}
		}
	}
	#main-sidebar{
		margin-top: 50px;

		.related{
			padding: 30px;
		}
	}
}


/*********************
INDUSTRY SPECIFIC STYLES
*********************/
.page-template-page-industry-specific-php, .page-template-page-industry-specific-alt-php{

	.main-section{
		h2{
			@include font-size(40px);
			font-weight: 700;
		}
	}

}
