/******************************************************************
Stylesheet: Mobile Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/





/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@include font-header;
	text-rendering: optimizelegibility;	
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	@include font-size(40px);
}

h2, .h2 {	
	@include font-size(32px);
	color: $sl-red;
}

h3, .h3 {
	@include font-size(24px);
}

h4, .h4 {
	@include font-size(16px);
}

h5, .h5 {
	@include font-size(13px);
}

h6, .h6 {
	@include font-size(14px);
	font-weight: bold;
}



/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
HEADER STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/


/*********************
FOOTER STYLES
*********************/
.page-footer{
	header.contact{
		margin-bottom: 50px;

		.logo{
			margin: 15px 0 0 0;
			text-align: left;
		}
		ul{
			text-align: right;
		}
	}
}




/*********************
GLOBAL STYLES
*********************/
/* Used on Product Overview pages and on contact page */
.standard-form-wrap{

	.gform_wrapper{

		.gform_body{
			.gform_fields{
				li{
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}

		.choice-fields{
			.gfield_checkbox{
				li{
					display: inline-block;

					&:last-child{
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}

/* Used on homepage and on Insight Resources */
.download-guide{
	.gform_heading{
		position: relative;
		overflow: hidden;

		&:after{
			content: "";
			background-image: url("../images/bg-net.png");
		  background-color: transparent;
		  background-position: 80px -20px;
		  background-repeat: no-repeat;
		  opacity: 0.25;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  position: absolute;
		}
	}

	.gform_body{
		padding: 28px 28px 0 28px;

		.guide-image{
			display: block;
			float: left;
			width: 30%;
			img{
				max-width: 90%;
			}
		}

		.fields-right{
			float: right;
			width: 70%;
		}

		.gfield_checkbox{
			label{
				@include font-size(12px);
				padding: 10px 10px 10px 20px;
			}
		}
	}
	.gform_footer{
		padding: 0 28px 28px 14px;
	  float: right;
	  width: 70%;
	}
}



/*********************
PAGE STYLES
*********************/
.page-styles{
	p, ul li{
		@include font-size(14px);
	}

	h2, .h2 {	
		@include font-size(32px);
	}
}
	

/*********************
HOME PAGE STYLES
*********************/
.page-home, .page-template-page-industry-specific-php, .page-template-page-industry-specific-alt-php{

	.hero-media{
		background-position: 0 0;

		.copy{
			padding: 60px 0;

			h1{
				@include font-size(32px);
			}
			h3{
				@include font-size(20px);
			}
			.play{
				max-width: 72px;
			}
		}
	}
	
	.service-intros{
		article{
			width: 480px;

		}

		header{
			h2{
				padding: 0 5px;
				@include font-size(15px);
				line-height: 1.25;
			}
		}

		p{
			@include font-size(13px);
		}
		a{
			display: block;
			text-align: center;
		}

		.learn-more{
			width: 190px;
			height: 36px;
			@include font-size(12px);
		}
	}

}

/*********************
NO SIDE BAR STYLES
- POLICY
- ABOUT
*********************/
.page-template-page-general-content-php{
	aside{
		.aside-content{
			width: 48%;
			float: left;

			&:after{
			  background-position: 90px -280px;
			}
		}

		.get-in-touch{
			margin-left: 4%;

			&:after{
				background-position: 100px -20px;
			}
		}
	}
}


/*********************
JOBSEEKER PAGES STYLES
*********************/
.search-results, .page-template-page-jobseekers, .search-no-results, .post-type-archive-job, .archive.tax-job_cat, .archive.tax-job_type{
	.job-search-header{
		.form-wrap{
			padding: 0 12px;
			position: relative;

			.article-header{
				padding: 20px;
				text-align: left;

				p{
					margin: 0;
				}

				a{
					position: absolute;
					top: 50%;
					margin-top: -17px;
					right: 20px;
				}
			}
			form{
				footer{
					float: right;
					max-width: 280px;
				}
			}
		}
	}
}
.single-job{
	#main-sidebar{
		.related{
			padding: 30px;
		}
	}
}



/*********************
INSIGHT PAGES STYLES
*********************/
.blog{
	.insights-subscribe-cta{
		position: relative;
		padding: 0;

		a{
			position: absolute;
			top: 15px;
			right: 7px;

			span{
				display: inline;
			}
		}
	}
}
.single-post, .single-js_post{
	#main-sidebar{
		article{
			margin-bottom: 0;
			figure{
				margin-bottom: 10px;
			}
		}
	}

	.social{
		.inner{
			.share{
				float: left;
			}
			.comments{
				float: right;
				margin-top: 0;
			}
		}
	}
}