/******************************************************************
Stylesheet: Mobile Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/





/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	@include font-header;
	text-rendering: optimizelegibility;	
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	@include font-size(40px);
}

h2, .h2 {	
	@include font-size(32px);
	color: $sl-red;
}

h3, .h3 {
	@include font-size(21px);
}

h4, .h4 {
	@include font-size(16px);
}

h5, .h5 {
	@include font-size(13px);
}

h6, .h6 {
	@include font-size(14px);
	font-weight: bold;
}



/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
HEADER STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/
.page-footer{

	header.contact{
		ul{
			li{
				p{
					.break{
						display: none;
					}
				}
			}
		}
	}

	.links{
		width: 50%;
		float: left;

		&:nth-child(odd){
			clear: both;
		}
	}

	.footer-social{
		h6{
			float: left;
		}

		ul{
			float: left;
			margin: 0;
			padding: 0 0 0 20px;
		}
	}
}


/*********************
PAGE STYLES
*********************/


/*********************
HOME PAGE STYLES
*********************/
.page-home, .page-template-page-industry-specific-php{
	h1{
		color: $sl-darkblue;
		@include font-size(32px);
	}

	.hero-video{
		height: 240px;

		.overlay{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			h1{
				@include font-size(20px);
				top: 20%;
			}

			h3{
				@include font-size(16px);
				color: $sl-red;
				top: 40%;
			}
		}

	}

	.service-intros{
		header{
			height: 240px;

			.service-image{
				margin-top: 20px;
			}
		}
	}
}


/*********************
NO SIDE BAR STYLES
- POLICY
- ABOUT

CONTACT PAGE STYLES
SINGLE JOB
*********************/
.page-template-page-general-content-php, .page-template-page-contact-php, .single-job{
	.sl-logo-notype{
		img{
			max-width: 160px;
		}
	}
}



/*********************
LANDING STYLES
- Fixed Price Recruitment
- Candidate Attraction
- Applicant Management
*********************/
.page-template-page-landing-php{
	.sub-nav{
		p{
			max-width: 100%;
		}
	}
}



/*********************
INSIGHTS PAGES STYLES
*********************/
.single-post{
	#main-sidebar{
		.ning{
			.image{
				max-width: 150px;
			}
			p{
				@include font-size(16px);
				margin: 0 0 0 150px;
				padding: 40px 0;
			}
		}
	}
}

/*********************
FIXED PRICE RECRUITMENT
*********************/
.page-template-page-fixed-price-recruitment-php{
	.pricing-section{
		header{
			h2{
				@include font-size(26px);
			}
		}
	}
}