/******************************************************************
Stylesheet: Super Large Monitor Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/
h1, .h1{
	@include font-size(50px);
}


/*********************
HEADER STYLES
*********************/
.page-header{
	.main-bar{
		.logo-wrap{
			width: 10%;
			float: left;
		}
		.menu-wrap{
			width: 70%;
			margin: 0 0 0 4%;

			ul{
				li{
					margin-right: 30px;
				}
			}
		}
		.contact-wrap{
			width: 16%;
			top: 16px;
		}
	}
}



/*********************
FOOTER STYLES
*********************/
.page-footer{
	header.contact{
		ul{
			li{
				p{
					@include font-size(14px);
					a{
						@include font-size(14px);
					}
				}
			}
		}
	}
}


/*********************
HOME PAGE STYLES
*********************/
.page-home{
	.hero-video{
		#heroVideo{
			margin-top: -100px;
		}
	}
	.customer-service-video{
		.overlay{
			.text{
				width: 55%;
				margin-top: 25px;
			}
		}
	}
}


/*********************
LANDING STYLES
- Fixed Price Recruitment
- Candidate Attraction
- Applicant Management
*********************/
.page-template-page-landing-php{
}
.page-template-page-fixed-price-recruitment-php{
	.header-wrap{
		&:after{
		  background-position: center 80px;
		}
		.hero-section{
			.title{
				h1{
					@include font-size(80px);
				}
			}
		}
		.choices-section{
			.choice-wrap{
				height: 668px;
			}
		}
	}
	.more-info-section{
		.info-panel{
			h3{
				@include font-size(26px);
			}
			p{
				@include font-size(16px);
			}
		}
	}
}




.page-candidate-attraction, .page-advertising, .page-applicant-management{
	.header-wrap{
		background-position: center 208px;
		background-color: #FBA63B;
	}
}
.page-applicant-management{
	.header-wrap{
		background-color: #78C9B8;
	}
}

/*********************
INSIGHT PAGES STYLES
*********************/
.blog, .post-type-archive-js_post{
	article{
		&.fallback{
			.inner{
				div{
					padding: 30px;
					.entry-content{
						p{
							@include font-size(14px);
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}