/******************************************************************
Stylesheet: Super Mega Big Monitor Stylesheet
******************************************************************/

/*********************
HOME PAGE STYLES
*********************/
.page-home{
	.customer-service-video{
		.overlay{
			.text{
				width: 50%;
				margin-top: 64px;
				max-width: 640px;
			}
		}
	}
}